
<html>
<head>
    <% include ../common/head %>
    <script src="/js/api/user.js" type="text/javascript"></script>
    <!--additional JS and css-->
    <script>
        $(document).ready(function(){
            $('#forgot-password-form').on("submit", function () {
                var submitBtn = $('#btnForgot');
                loadingBtn(submitBtn, 'Please wait..');
                var email =$('#email').val();
                if(email == '' || !validateEmail(email)){
                    $('#error-msg').html('<p class="text-danger"><strong>Please enter valid email.</strong</p>');
                    submitBtn.prop('disabled', false).html('Submit')
                }
                else {
                    api.user.forgot({
                        data: {email: $('#email').val()},
                        success: function () {
                            location.href = 'forgot/checkemail'
                        },
                        error: function (d) {
                            $('#error-msg').html('<p class="text-danger"><strong>Oops, Server Error! Please try again.</strong</p>');
                            submitBtn.prop('disabled', false).html('Submit')
                            // alert(d.message);
                        }
                    })
                }
                return false
            });
        });
    </script>
</head>
<body>
<header id="header">
    <% include ../common/header %>
</header>

<section id="content_body">
    <div class="section lightbg onecourse">
        <div class="container">
            <div class="text-center">
                <h2><strong>Get your password</strong></h2>
            </div><!-- end title -->
            <div class="section">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div id="error-msg"></div>
                            <form id="forgot-password-form" method="POST">
                                <div class="form-group">
                                    <label for="email">Email Address:</label>
                                    <input type="email" class="form-control" id="email" placeholder="Please enter your email address to get verification code.">
                                </div>
                                <button type="submit" class="btn btn-edushala" id="btnForgot">Submit</button>
                            </form>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div><!-- end container -->
            </div><!-- end section -->
        </div><!-- end container -->
    </div><!-- end section -->


</section>


<footer id="footer">
    <% include ../common/footer %>
</footer>

</body>
</html>