
<html>
<head>
    <% include common/head %>
    <!--additional JS and css-->
</head>
<body>
<header id="header">
    <% include common/header %>
</header>

<section id="content_body">
    <div class="section lb overflow">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="big-title m15 text-center">
                        <h2>Our Mission</h2>
                        <hr class="customhr">
                        <p class="lead">We connect passionate professionals with knowledge-hungry students who are looking to learn "practical" skills.</p>

                        <p class="lead">Our mission is to provide our students with skills that are useful, fun, and transferable in the real world by linking them with incredible teachers who focus on doing, not memorizing. Edushala classes emphasize projects and peer-learning rather than tests and textbooks. Our goal is to make sure you can confidently decorate a room, write a poem, or negotiate a contract, not recall facts.</p>

                        <p class="lead">Our educators are our partners and we work with them to bring the best out of them. We give them the blank canvas they need to teach what they love and empower them with tools to make their jobs easier. Then, we get out of their way. Our goal is to foster opportunities for creativity in the classroom and best enable educators to share their skills, interests, and passions. Most of all, we help our customers develop a lifelong love of learning and sharing.</p>
                    </div><!-- end title -->
                </div>
            </div>
        </div>
    </div>
</section>

<div class="section lightbg onecourse">
    <div class="container">
        <div class="big-title text-center">
            <h3>The Experts of Edushala</h3>
            <hr class="customhr customhrcenter">
            <div>
                <img src="/images/owl.png" class="img-responsive">
            </div>
        </div><!-- end title -->

        <hr class="largeinvis">

        <div class="row">
            <div class="col-md-12">
                <div class="our-team-content">
                    <div class="row">
                        <!-- Start single team member -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="single-team-member">
                                <div class="team-member-img">
                                    <img src="/images/santosh.png" alt="team member img" class="img-responsive">
                                </div>
                                <div class="team-member-name">
                                    <p>Santosh Shrestha</p>
                                    <span>Chairman</span>
                                </div>
                                <p>Santosh’s love of education and technology birthed Edushala. He is passionate about turning his dream child to a platform for everyone and anyone to use.</p>
                                <div class="team-member-link">
                                    <a href="https://www.facebook.com/santoshrestha" target="_blank"><i class="fa fa-facebook"></i></a>
                                    <a href="https://www.linkedin.com/in/rumsan" target="_blank"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Start single team member -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="single-team-member">
                                <div class="team-member-img">
                                    <img src="/images/ruchin.png" height="37" alt="team member img" class="img-responsive">
                                </div>
                                <div class="team-member-name">
                                    <p>Ruchin Singh</p>
                                    <span>Managing Director</span>
                                </div>
                                <p>Ruchin believes massive open online courses will revolutionize the education system and is gung-ho about Edushala’s role in shaping how we learn.</p>
                                <div class="team-member-link">
                                    <a href="https://www.facebook.com/ruchin.singh" target="_blank"><i class="fa fa-facebook"></i></a>
                                    <a href="https://np.linkedin.com/in/ruchinsingh" target="_blank"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Start single team member -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="single-team-member">
                                <div class="team-member-img">
                                    <img src="/images/rumee.png" alt="team member img" class="img-responsive">
                                </div>
                                <div class="team-member-name">
                                    <p>Rumee Singh</p>
                                    <span>Digital Diva</span>
                                </div>
                                <p>Rumee is focused in introducing Edushala as a tool for inspiring innovation. She juggles between digital production strategies and HR needs while keeping sanity in the team. </p>
                                <div class="team-member-link">
                                    <a href="https://www.facebook.com/rumee.singh?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a>
                                    <a href="https://www.linkedin.com/in/rumee-singh-6713339" target="_blank"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Start single team member -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="single-team-member">
                                <div class="team-member-img">
                                    <img src="/images/rupashree.jpg" alt="team member img" class="img-responsive">
                                </div>
                                <div class="team-member-name">
                                    <p>Rupashree Niraula</p>
                                    <span>Instructor Community Manager</span>
                                </div>
                                <p>She is into developing course content, assisting potential instructors in creating immersive learning methods and managing the instructors community.</p>
                                <div class="team-member-link">
                                    <a href="https://www.facebook.com/rupashree.niraula.7" target="_blank"><i class="fa fa-facebook"></i></a>
                                    <a href="https://np.linkedin.com/in/rupashree-niraula-17355660" target="_blank"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Start single team member -->
                    </div>
                </div>
            </div>
        </div>

        <div class="space-top-small"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="our-team-content">
                    <div class="row">
                        <!-- Start single team member -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="single-team-member">
                                <div class="team-member-img">
                                    <img src="/images/dibyata.jpg" alt="team member img" class="img-responsive">
                                </div>
                                <div class="team-member-name">
                                    <p>Dibyata Vaidhya</p>
                                    <span>Brand and PR Yoda</span>
                                </div>
                                <p>She builds PR for Edushala and also looks after marketing. She deals with the clients for B2B learning programs. </p>
                                <br>
                                <br>
                                <div class="team-member-link">
                                    <a href="https://www.facebook.com/Divz.Vaidya" target="_blank"><i class="fa fa-facebook"></i></a>
                                    <a href="https://www.linkedin.com/in/dibyata-vaidya-6300b378/" target="_blank"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Start single team member -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="single-team-member">
                                <div class="team-member-img">
                                    <img src="/images/momish.jpg" height="37" alt="team member img" class="img-responsive">
                                </div>
                                <div class="team-member-name">
                                    <p>Momish Manandhar</p>
                                    <span>Business Development Manager</span>
                                </div>
                                <p>He handles business development at Edushala. He designs marketing materials and graphics and manages digital content production and Udemy marketing.</p>
                                <div class="team-member-link">
                                    <a href="https://www.facebook.com/momish.manandhar?ref=bookmarks" target="_blank"><i class="fa fa-facebook"></i></a>
                                    <a href="https://np.linkedin.com/in/momish-manandhar-59875b130" target="_blank"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Start single team member -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="single-team-member">
                                <div class="team-member-img">
                                    <img src="images/raman.jpg" alt="team member img" class="img-responsive">
                                </div>
                                <div class="team-member-name">
                                    <p>Raman K.C.</p>
                                    <span>Admin & Finance Officer</span>
                                </div>
                                <p>He looks after Logistics, materials required for B2B & B2C classes and  manages  Admin and Finance of Edushala.</p>
                                <br>
                                <div class="team-member-link">
                                    <a href="https://www.facebook.com/Sramppu" target="_blank"><i class="fa fa-facebook"></i></a>
                                    <a href="https://np.linkedin.com/in/raman-kc-858a4011a" target="_blank"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Start single team member -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                        </div>
                        <!-- Start single team member -->
                    </div>
                </div>
            </div>
        </div>

    </div><!-- end container -->
</div><!-- end section -->


<footer id="footer">
    <% include common/footer %>
</footer>

</body>
</html>