
<html>
<head>
    <% include common/head %>
    <!--additional JS and css-->
</head>
<body>
<header id="header">
    <% include common/header %>
</header>
<section id="content_body">
<section class="content_body">
    <video width="100%" autoplay loop muted>
        <source src="/video/Edushala.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</section>
<section class="about-desc">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 about-first">
                <p class="about-part1">Most of us grew up in an environment where our success was measured by our grades and our ability to rank high in our classes.
                    Now out of schools and having studied in various different settings, we have realized that all of us are different.
                    We all have different interests and skills and we need to focus on what we are good at and what we'd like to do.
                    Edushala was born out of a need to value real world skills. Our founding members all resonate the same voice when it comes to their passion for education.
                    We all strongly believe Edushala gives people the platform to explore, broaden and deepen their skills.<a href="https://glocalkhabar.com/featured/edushala-striving-to-be-a-premier-education-marketplace-in-nepal/ "target="_blank"> Read more..</a></p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6"></div>
        </div>
    </div>
</section>
<section class="about-blended">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"></div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 about-second">
                <h2>Blended Learning</h2>
                <p>Learning is a collection of experiences and these experiences can occur from any channel - classroom lectures, online classes, videos, audios, projects - the list is endless. Our learning has become a blend  of online and offline learning experiences. <a href="#blended-extended" class="read-more">Read more...</a></p>
                <p id="blended-extended" style="display:none">The blended learning approach allows educators and learners take advantages of different delivery modes. Physical courses are particularly good for project works, discussions and audiences with lower IT skills where as digital courses often better for larger audiences, tracking progress of users and disseminating information. It is important for educators to identify various content delivery mechanism for the blended learning solutions and where each modules fits into.
                    This is where Eduware fits in. We have developed a system to help educational designers develop blended courses reaping the advantages of both physical and digital worlds. On the other hand, the learners can have much more immersive learning experience with the course.</p>
            </div>
        </div>
    </div>
</section>

<section class="about-blended">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 about-second">
                <h2>How Edushala works?</h2>
                <p>Edushala has an intuitive platform to help educators as well as learner. We help educators design a blended course through our platform . <a href="#blended-extended-second" class="read-more">Read more...</a></p>
                <p id="blended-extended-second" style="display:none">Eduware and learners get access to immersive and interactive courses. Our platform makes it easy to design, assign and track learning progress for individuals or organizations.
                    .</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"></div>
        </div>
    </div>
</section>
<section class="about-blended">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"></div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 about-second">
                <h2>Get Access to our Course Library</h2>
                <p>We have access to more than 50 pre-built blended courses from many experts from different background – courses are combinations of classroom instructions, interactive tests, and digital resources. <a href="#blended-extended-third" class="read-more">Read more...</a></p>
                <p id="blended-extended-third" style="display:none">
                    <span><a href="/teach" target="_blank"> Interested in teaching at Edushala? </a></span>
                    <br><span><a href="/learn" target="_blank">Recommend Courses?</a></span>
                </p>
            </div>
        </div>
    </div>
</section>
</section>



<footer id="footer">
    <% include common/footer %>
</footer>

</body>
</html>
