
<html>
<head>
    <% include common/head %>
    <!--additional JS and css-->
</head>
<body>
<header id="header">
    <% include common/header %>
</header>

<section id="content_body">

    <div class="page-title section lb">
        <div class="container">
            <div class="clearfix">
                <div class="title-area pull-left">
                    <h2>Workshop For Colleges<small>Edushala's course list page for colleges.</small></h2>
                </div><!-- /.pull-right -->
                <div class="pull-right hidden-xs">
                    <a class="btn btn-primary" data-toggle="modal" data-target="#contact_modal" data-original-title>
                        Contact Us
                    </a>
                </div><!-- /.pull-right -->
            </div><!-- end clearfix -->
        </div>
    </div><!-- end page-title -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="shoptop clearfix">
                        <div class="title-area pull-left">
                            <h4>Soft Skills</h4>
                        </div><!-- /.pull-right -->
                    </div><!--- end shop-top -->
                </div><!-- end col -->
            </div><!-- end row -->
            <hr class="invis">
            <div class="course-list normal-list">
                <div class="video-wrapper course-widget clearfix">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="post-media">
                                <div class="entry">
                                    <img src="images/consult/presentation.jpg" alt="" class="img-responsive">
                                </div>
                            </div><!-- end media -->
                        </div><!-- end col-->
                        <div class="col-md-9">
                            <div class="widget-title clearfix">
                                <h3>
                                    <a href="#">
                                        Developing Effective Presentation Skills
                                    </a>
                                </h3>
                                <hr>
                                <p>
                                    This course is designed to improve the presentation skills of students. The course consists of tricks and techniques to make the presentation more effective. Good presentation skills require organisation and confidence. If these two essential items are not ticked off, then it's time you looked at developing presentation skills. This type of personal development work will really assist you to develop first more confidence, which is the key. Then, by you getting organised, well presented and ultimately building self-esteem, those dream jobs will appear and your ambitions will be realised. It will teach students skills such as grabbing the attention of the audience, appropriate body language, verbal language,  and structuring the presentation.

                                </p>

                            </div><!-- end title -->
                        </div><!-- end col -->
                    </div>
                </div><!--widget -->
            </div><!-- end row -->
            <div class="course-list normal-list">
                <div class="video-wrapper course-widget clearfix">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="post-media">
                                <div class="entry">
                                    <img src="images/consult/rock_interview.jpg" alt="" class="img-responsive">
                                </div>
                            </div><!-- end media -->
                        </div><!-- end col-->
                        <div class="col-md-9">
                            <div class="widget-title clearfix">
                                <h3><a href="#">Rock that Interview!</a></h3>
                                <hr>
                                <p>
                                    The 1.5 hours training will cover all the aspects of interviews that will help students and job seekers get the competitive edge to stand out during interviews.
                                    Through this course, you will learn about interviews do's and don'ts, questions frequently asked by the employers and how to answer them, proper body language in interviews and self-Image management including proper attire and grooming.The training is designed in such a manner that you will get ample opportunities to give mock interviews and get evaluated by the peers. The course is suitable for students and professionals at all stages of their careers who are looking to master the art of interviews and land a dream job.

                                </p>

                            </div><!-- end title -->
                        </div><!-- end col -->
                    </div>
                </div><!--widget -->
            </div><!-- end row -->
            <div class="course-list normal-list">
                <div class="video-wrapper course-widget clearfix">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="post-media">
                                <div class="entry">
                                    <img src="images/consult/cv_writing.jpg" alt="" class="img-responsive">
                                </div>
                            </div><!-- end media -->
                        </div><!-- end col-->
                        <div class="col-md-9">
                            <div class="widget-title clearfix">
                                <h3><a href="#">Resume Writing Workshop</a></h3>
                                <hr>
                                <p>
                                    The resume workshop is designed for students interested in career opportunities in Nel as well as abroad, where the resume rather than curriculum vitae is the preferred candidate profile format.
                                    The workshop will teach you how to fashion your resume so that it gets noticed by potential employer. Big and small companies alike receive hundreds of resumes for a position. Employers may not have time to read in detail every resume that arrive at their desks and gather every information about the candidates. You must provide it on a silver platter easy to obtain and elegantly presented.
                                    All individuals (students and professionals) whether using a resume or CV will benefit from this workshop.
                                </p>

                            </div><!-- end title -->
                        </div><!-- end col -->
                    </div>
                </div><!--widget -->
            </div><!-- end row -->
            <div class="course-list normal-list">
                <div class="video-wrapper course-widget clearfix">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="post-media">
                                <div class="entry">
                                    <img src="images/consult/app_brush.jpg" alt="" class="img-responsive">
                                </div>
                            </div><!-- end media -->
                        </div><!-- end col-->
                        <div class="col-md-9">
                            <div class="widget-title clearfix">
                                <h3><a href="#">Appearance Brush-up Class with Dibyata Vaidya</a></h3>
                                <hr>
                                <p>
                                    Regardless of whether one is running errands or going on a job interview, good grooming should be second nature. Practicing a daily routine of personal hygiene helps a person put their best foot forward, no matter what the situation is.This class would focus on the importance of carrying oneself with professional grooming and creating a lasting first impression that projects a positive image. This fun class would cover a brief on grooming and dressing etiquette, dos and don'ts in grooming and dressing and activities on grooming and dressing. One's outward appearance is the first impression he or she gives when meeting someone new.
                                </p>
                            </div><!-- end title -->
                        </div><!-- end col -->
                    </div>
                </div><!--widget -->
            </div><!-- end row -->
            <div class="course-list normal-list">
                <div class="video-wrapper course-widget clearfix">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="post-media">
                                <div class="entry">
                                    <img src="images/consult/one_page_buss.jpg" alt="" class="img-responsive">
                                </div>
                            </div><!-- end media -->
                        </div><!-- end col-->
                        <div class="col-md-9">
                            <div class="widget-title clearfix">
                                <h3><a href="#">One-page Business Plan - Business Model Generation Canvas</a></h3>
                                <hr>
                                <p>
                                    The Business Model Canvas is a one page overview that lays out both what you do (or want to do), and how you go about doing it; enabling structured conversations around management and strategy by laying out the crucial activities and challenges involved with your initiative and how they relate to each other.
                                    The individual elements prompt thoughts within the separate activities or resources, while the capability to have the complete overview encourages fresh perspectives and ideas about how those pieces fit together. This structure also helps to keep group discussions more focused and bring everyone onto the same page.
                                    This workshop will help in describing your business plans and ideas in an easy format and easily explaining the business complexities.

                                </p>
                            </div><!-- end title -->
                        </div><!-- end col -->
                    </div>
                </div><!--widget -->
            </div><!-- end row -->

            <div class="course-list normal-list">
                <div class="video-wrapper course-widget clearfix">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="post-media">
                                <div class="entry">
                                    <img src="images/consult/writing_choice.jpg" alt="" class="img-responsive">
                                </div>
                            </div><!-- end media -->
                        </div><!-- end col-->
                        <div class="col-md-9">
                            <div class="widget-title clearfix">
                                <h3><a href="#">Writing is a choice</a></h3>
                                <hr>
                                <p>
                                    'Writing is a choice' is a 3 hour workshop designed to teach young writers about the basics of writing. The students will learn the habits necessary to grow as a writer and use the skills gained to become a professional writer. If your passion is to write, this course will help you to understand the science and art behind writing. The main objective is to break some myths about writing and connect with other writers in your area. It helps to reignite your passion for writing and inspire the attendants to understand the science and art behind writing.

                                </p>
                            </div><!-- end title -->
                        </div><!-- end col -->
                    </div>
                </div><!--widget -->
            </div><!-- end row -->

            <div class="course-list normal-list">
                <div class="video-wrapper course-widget clearfix">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="post-media">
                                <div class="entry">
                                    <img src="images/consult/goal_setting.jpg" alt="" class="img-responsive">
                                </div>
                            </div><!-- end media -->
                        </div><!-- end col-->
                        <div class="col-md-9">
                            <div class="widget-title clearfix">
                                <h3><a href="#">Achieve Success through Goal Setting</a></h3>
                                <hr>
                                <p>
                                    This 3 Hour Workshop will cover all aspects of setting and achieving goals in your life or work. This workshop is designed for everyone who wants to learn to set goals in a more productive way, manage them effectively, and achieve satisfaction in all spheres of life; health, relationships and wealth.
                                    The workshop will include a thorough written introspection that will help participants recognize the goals that they want to set, the choices they have to make to achieve them, and the process they have to follow in order to achieve them. The workshop is designed in such a manner that individual student will have opportunities to evaluate their progress over the last year and look forward to achieving new goals in a methodical manner, over the next.
                                </p>
                            </div><!-- end title -->
                        </div><!-- end col -->
                    </div>
                </div><!--widget -->
            </div><!-- end row -->

            <div class="course-list normal-list">
                <div class="video-wrapper course-widget clearfix">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="post-media">
                                <div class="entry">
                                    <img src="images/consult/Motivational.png" alt="" class="img-responsive">
                                </div>
                            </div><!-- end media -->
                        </div><!-- end col-->
                        <div class="col-md-9">
                            <div class="widget-title clearfix">
                                <h3><a href="#">Motivational Workshop</a></h3>
                                <hr>
                                <p>
                                    Motivating students is one of the major challenges teachers face on a daily basis. Conceptualized as students’ energy and drive to engage, learn, work effectively, and achieve their potential at school, motivation and engagement play a large role in students’ interest and enjoyment of school. Understandably, both also play huge roles in academic achievement.
                                    Consequently, those students who are motivated by and engaged in learning tend to perform considerably higher academically and are better behaved than unmotivated and unengaged peers.
                                    This workshop will help students to make their confidence level high and teach them ways to focus and always be motivated to learn.
                                </p>
                            </div><!-- end title -->
                        </div><!-- end col -->
                    </div>
                </div><!--widget -->
            </div><!-- end row -->
        </div><!-- end container -->

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="shoptop clearfix">
                        <div class="title-area pull-left">
                            <h4>Technical Skills</h4>
                        </div><!-- /.pull-right -->
                    </div><!--- end shop-top -->
                </div><!-- end col -->
            </div><!-- end row -->
            <hr class="invis">
            <div class="course-list normal-list">
                <div class="video-wrapper course-widget clearfix">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="post-media">
                                <div class="entry">
                                    <img src="images/consult/excel.png" alt="" class="img-responsive">
                                </div>
                            </div><!-- end media -->
                        </div><!-- end col-->
                        <div class="col-md-9">
                            <div class="widget-title clearfix">
                                <h3>
                                    <a href="#">
                                        Smarten Up with Ms-Excel! (Basic to Advanced)
                                    </a>
                                </h3>
                                <hr>
                                <p>
                                    This course is designed to improve the presentation skills of students. The course consists of tricks and techniques to make the presentation more effective. Good presentation skills require organisation and confidence. If these two essential items are not ticked off, then it's time you looked at developing presentation skills.3 This type of personal development work will really assist you to develop first more confidence, which is the key. Then, by you getting organised, well presented and ultimately building self-esteem, those dream jobs will appear and your ambitions will be realised. It will teach students skills such as grabbing the attention of the audience, appropriate body language, verbal language,  and structuring the presentation.

                                </p>
                            </div><!-- end title -->
                        </div><!-- end col -->
                    </div>
                </div><!--widget -->
            </div><!-- end row -->
            <div class="course-list normal-list">
                <div class="video-wrapper course-widget clearfix">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="post-media">
                                <div class="entry">
                                    <img src="images/consult/word.png" alt="" class="img-responsive">
                                </div>
                            </div><!-- end media -->
                        </div><!-- end col-->
                        <div class="col-md-9">
                            <div class="widget-title clearfix">
                                <h3><a href="#">Microsoft Word ( Basic to advanced)</a></h3>
                                <hr>
                                <p>
                                    Microsoft Word is a very powerful word processing program.Whether you’re an established professional or new to the field, Microsoft will give you the expertise you need in your field. Microsoft Word (simply referred to as Word) is a sophisticated word processing application program/package specially designed for performing various word processing tasks, such as typing, editing and printing out of textual information. It allows adequate control over the creation and presentation of the typographic work. Microsoft Word also offers facilities for basic graphic design, statistical report of a document, spelling and grammar checking tasks, etc. These and numerous other features and facilities Word offers make it stand out among word processing programs, as well as make the difference between it and other mechanical devices for word processing.
                                </p>
                            </div><!-- end title -->
                        </div><!-- end col -->
                    </div>
                </div><!--widget -->
            </div><!-- end row -->
            <div class="course-list normal-list">
                <div class="video-wrapper course-widget clearfix">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="post-media">
                                <div class="entry">
                                    <img src="images/consult/access.png" alt="" class="img-responsive">
                                </div>
                            </div><!-- end media -->
                        </div><!-- end col-->
                        <div class="col-md-9">
                            <div class="widget-title clearfix">
                                <h3><a href="#">MS Access (Basic to Advanced Level)</a></h3>
                                <hr>
                                <p>
                                    Microsoft Access is a menu-driven database program that includes a graphical user interface enabling novice users to enter, manage and report on their data. Data can be entered using a familiar spreadsheet or table interface and the program will automatically generate forms based upon the data and labels that have been entered. Routine tasks such as searches, sorts and queries can be automated with macros using a point-and-click paradigm. Reports can be formatted by dragging and dropping fields on a graphical interface and the program includes many templates that can be easily modified by end users. Word documents can be easily customized with contact and supplier records within an Access database, and Excel can be used as a front end to enter and update Access database information in real time.
                                </p>
                            </div><!-- end title -->
                        </div><!-- end col -->
                    </div>
                </div><!--widget -->
            </div><!-- end row -->
            <div class="course-list normal-list">
                <div class="video-wrapper course-widget clearfix">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="post-media">
                                <div class="entry">
                                    <img src="images/consult/SPSS.jpg" alt="" class="img-responsive">
                                </div>
                            </div><!-- end media -->
                        </div><!-- end col-->
                        <div class="col-md-9">
                            <div class="widget-title clearfix">
                                <h3><a href="#">SPSS</a></h3>
                                <hr>
                                <p>
                                    Data presentation is one of the most crucial steps in a dissertation. An effective presentation of the data not only allows the researcher to analyze the data but it also helps the user of the dissertation to understand the data. SPSS (Statistical Package for the Social Sciences) is one of the most preferred tools adopted by different researchers to present data in their research work.
                                    The uses of SPSS helps the researcher to make the research work more scientific and reliable.
                                    In addition to this, SPSS software can also be proved quite useful for the purpose of graphical representation of the raw data. With the help of the SPSS application, different graphs based on different complex data can be drawn easily and effectively. It reduces the time and efforts of the researcher employed in the process of drawing the graphs based on the data.

                                </p>
                            </div><!-- end title -->
                        </div><!-- end col -->
                    </div>
                </div><!--widget -->
            </div><!-- end row -->
            <div class="course-list normal-list">
                <div class="video-wrapper course-widget clearfix">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="post-media">
                                <div class="entry">
                                    <img src="images/consult/photography.jpg" alt="" class="img-responsive">
                                </div>
                            </div><!-- end media -->
                        </div><!-- end col-->
                        <div class="col-md-9">
                            <div class="widget-title clearfix">
                                <h3><a href="#">Photography for Beginners</a></h3>
                                <hr>
                                <p>
                                    A very popular digital photography course for Beginners that is fun, creative and inspirational
                                    If you have a camera and are struggling with the settings then we will teach you how to use and understand them. We have a practical approach to teaching photographic and technical skills and will show you how to simply navigate your way around the menu's and discover the joy of using the camera in its manual settings. By the end of the day you will feel confident and know the pictures you are taking are not by luck but by your judgement and skill, plus of course it's a great city to photograph
                                    Photography for Beginners is a 4 week course which will be including 2 weeks of foundation course, vision, shoots, and 2 weeks of retouching-photoshop/lights.

                                </p>
                            </div><!-- end title -->
                        </div><!-- end col -->
                    </div>
                </div><!--widget -->
            </div><!-- end row -->
        </div><!-- end container -->

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="shoptop clearfix">
                        <div class="title-area pull-left">
                            <h4>Fun Interactive Workshop</h4>
                        </div><!-- /.pull-right -->
                    </div><!--- end shop-top -->
                </div><!-- end col -->
            </div><!-- end row -->
            <hr class="invis">
            <div class="course-list normal-list">
                <div class="video-wrapper course-widget clearfix">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="post-media">
                                <div class="entry">
                                    <img src="images/consult/networking.png" alt="" class="img-responsive">
                                </div>
                            </div><!-- end media -->
                        </div><!-- end col-->
                        <div class="col-md-9">
                            <div class="widget-title clearfix">
                                <h3>
                                    <a href="#">
                                        Networking/ Team Building Workshop
                                    </a>
                                </h3>
                                <hr>
                                <p>
                                    Networking is very essential these days as people have to interact with wide range of people. It is especially very important for freshers and a new team in an organization. Ice breakers are also useful to start out meetings and encourage
                                    interpersonal communication. Team building games and activities are useful
                                    also in serious business project meetings, where games and activities help
                                    delegates to see things differently and use different thinking styles.
                                    Games and exercises help with stimulating the
                                    brain, improving retention of ideas, and increasing fun and enjoyment. This workshop will help strongly unite team members to reach common goals through a greater awareness of how each member contributes to the success or failure of the team.

                                </p>
                            </div><!-- end title -->
                        </div><!-- end col -->
                    </div>
                </div><!--widget -->
            </div><!-- end row -->
            <div class="course-list normal-list">
                <div class="video-wrapper course-widget clearfix">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="post-media">
                                <div class="entry">
                                    <img src="images/consult/salsa.png" alt="" class="img-responsive">
                                </div>
                            </div><!-- end media -->
                        </div><!-- end col-->
                        <div class="col-md-9">
                            <div class="widget-title clearfix">
                                <h3><a href="#">Salsa Workshop for Beginners</a></h3>
                                <hr>
                                <p>
                                    This workshop offers an opportunity to its participants from all age groups and different backgrounds to learn SALSA, an international dance form, in a short period of time.  It will help develop dancing etiquette, behavior and discipline one should follow on the dance floor. This workshop aims in introducing dancing culture as a trendy hobby to relax, have fun, make new friends and learn something new in the meantime. Our classes are structured to help you learn quickly, get fit, socialise and have great fun. Absolute beginners are warmly welcomed. No partner required.
                                </p>
                            </div><!-- end title -->
                        </div><!-- end col -->
                    </div>
                </div><!--widget -->
            </div><!-- end row -->
            <div class="course-list normal-list">
                <div class="video-wrapper course-widget clearfix">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="post-media">
                                <div class="entry">
                                    <img src="images/consult/self_defense.jpg" alt="" class="img-responsive">
                                </div>
                            </div><!-- end media -->
                        </div><!-- end col-->
                        <div class="col-md-9">
                            <div class="widget-title clearfix">
                                <h3><a href="#">Self defense class for girls</a></h3>
                                <hr>
                                <p>
                                    By taking lessons in self defense for girls, she will grow up knowing what treatment she deserves, how to steer clear of bad situations, and how to fight back against those who would harm her and protect her. The Female Awareness self defense course is designed to make you more aware, prepared, and ready for any situation that may occur in your everyday life on any given day. This course differs from other self defense classes in that they start from the point of attack, and since I believe attacks begin before it becomes physical, we teach how to avoid the attack altogether.
                                </p>
                            </div><!-- end title -->
                        </div><!-- end col -->
                    </div>
                </div><!--widget -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->
    <div class="modal fade" id="contact_modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Any Questions? Feel free to contact us.</h3>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="name">Name:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="name" placeholder="Enter full name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="email">Email:</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="email" placeholder="Enter email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="phone">Phone:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="phone" placeholder="Enter phone number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="email">Message:</label>
                            <div class="col-sm-10">
                                <textarea style="resize:vertical;" class="form-control" placeholder="Message..." rows="6" required></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Send Message</button>
                </div>
            </div>

        </div>
    </div>
</section>

<footer id="footer">
    <% include common/footer %>
</footer>

</body>
</html>