
<html>
<head>
    <% include common/head %>
    <!--additional JS and css-->
</head>
<body>
<header id="header">
    <% include common/header %>
</header>

<section id="content_body">
    <div class="page-title section lb">
        <div class="container">
            <div class="clearfix">
                <div class="title-area pull-left">
                    <h2>Workshop For Corporates<small>Edushala's course list page for Corporates.</small></h2>
                </div><!-- /.pull-right -->
                <div class="pull-right hidden-xs">
                    <a class="btn btn-primary" data-toggle="modal" data-target="#contact_modal" data-original-title>
                        Contact Us
                    </a>
                </div><!-- /.pull-right -->
            </div><!-- end clearfix -->
        </div>
    </div><!-- end page-title -->
    <div class="section">
        <div class="container">
            <div class="course-list normal-list">
                <div class="video-wrapper course-widget clearfix">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="post-media">
                                <div class="entry">
                                    <img src="images/consult/proposal.jpg" alt="" class="img-responsive">
                                </div>
                            </div><!-- end media -->
                        </div><!-- end col-->
                        <div class="col-md-9">
                            <div class="widget-title clearfix">
                                <h3>Proposal Writing</h3>
                                <hr>
                                <p>
                                    The Business Writing Skills course teaches the best practices business people must know to be able to write clear, effective, professional business documents, especially email, memos, letters, and reports. The Business Writing Skills course teaches the best practices business people must know to be able to write clear, effective, professional business documents, especially email, memos, letters, and reports. Effective writing skills boost your image, makes decision-making easier, and portrays your organization as professional and efficient. After completing this workshop, you will be better able to prepare meaningful business documents and tackle even the most awkward communications with confidence.


                                </p>

                            </div><!-- end title -->
                        </div><!-- end col -->
                    </div>
                </div><!--widget -->
            </div><!-- end row -->
            <div class="course-list normal-list">
                <div class="video-wrapper course-widget clearfix">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="post-media">
                                <div class="entry">
                                    <img src="images/consult/professional writing.jpg" alt="" class="img-responsive">
                                </div>
                            </div><!-- end media -->
                        </div><!-- end col-->
                        <div class="col-md-9">
                            <div class="widget-title clearfix">
                                <h3>Professional Writing Skills</h3>
                                <p>
                                    The Business Writing Skills course teaches the best practices business people must know to be able to write clear, effective, professional business documents, especially email, memos, letters, and reports. The Business Writing Skills course teaches the best practices business people must know to be able to write clear, effective, professional business documents, especially email, memos, letters, and reports. Effective writing skills boost your image, makes decision-making easier, and portrays your organization as professional and efficient. After completing this workshop, you will be better able to prepare meaningful business documents and tackle even the most awkward communications with confidence.
                                </p>

                            </div><!-- end title -->
                        </div><!-- end col -->
                    </div>
                </div><!--widget -->
            </div><!-- end row -->
            <div class="course-list normal-list">
                <div class="video-wrapper course-widget clearfix">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="post-media">
                                <div class="entry">
                                    <img src="images/consult/negotiation.jpg" alt="" class="img-responsive">
                                </div>
                            </div><!-- end media -->
                        </div><!-- end col-->
                        <div class="col-md-9">
                            <div class="widget-title clearfix">
                                <h3>Negotiation Skills</h3>
                                <hr>
                                <p>
                                    Turn disputes into deals. Transform deals into better deals. Resolve intractable problems. Negotiating effectively requires the ability to change the game – moving away from conflict and toward collaboration. In this intensive, interactive program, you acquire a proven framework for maximizing the value of your negotiation, whether you are behind the bargaining table with a client or across the table with an opposing party.
                                    The effective negotiation skills are one of the most important business skills you should be working on developing. This workshop will help you to be a good negotiator helps you achieve important goals and get what you need and want for yourself, your department, and the organization.
                                </p>

                            </div><!-- end title -->
                        </div><!-- end col -->
                    </div>
                </div><!--widget -->
            </div><!-- end row -->
            <div class="course-list normal-list">
                <div class="video-wrapper course-widget clearfix">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="post-media">
                                <div class="entry">
                                    <img src="images/consult/stress.jpg" alt="" class="img-responsive">
                                </div>
                            </div><!-- end media -->
                        </div><!-- end col-->
                        <div class="col-md-9">
                            <div class="widget-title clearfix">
                                <h3>Stress Management</h3>
                                <p>
                                    People have generally evaluated an event as being negative in some way and may have decided that they lack the resources to cope with the situation they are confronted with.
                                    Stress management in the workplace requires more than helpful tips. Changing economic times have us pulled in multiple directions. The pressures and demands between work and personal life are blurred. As a result, the consequences of stress in the workplace come from what is happening to each of us both on and off the job. Through highly interactive learning, participants apply these stress management training tools to getting more of what's important to them done in less time. Organizational skills are improved so that less things "fall through the cracks."
                                </p>

                            </div><!-- end title -->
                        </div><!-- end col -->
                    </div>
                </div><!--widget -->
            </div><!-- end row -->
            <div class="course-list normal-list">
                <div class="video-wrapper course-widget clearfix">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="post-media">
                                <div class="entry">
                                    <img src="images/consult/networking.png" alt="" class="img-responsive">
                                </div>
                            </div><!-- end media -->
                        </div><!-- end col-->
                        <div class="col-md-9">
                            <div class="widget-title clearfix">
                                <h3>Team Building/Networking Workshop</h3>
                                <hr>
                                <p>
                                    With corporate workplaces becoming increasingly competitive, performance and results are the assessment factors that remain at the top of a management's priority list.

                                    Networking is very essential these days as people have to interact with wide range of people. It is especially very important for fresher and a new team in an organization. Ice breakers are also useful to start out
                                    meetings and encourage interpersonal communication
                                    With this workshop it will help foster better and open communication between employees themselves, and also between employees and the higher management. It goes a long way in improving professional relations, understanding, and co-operation, and this is very much reflected in the quality of the work done.


                                </p>

                            </div><!-- end title -->
                        </div><!-- end col -->
                    </div>
                </div><!--widget -->
            </div><!-- end row -->
            <div class="course-list normal-list">
                <div class="video-wrapper course-widget clearfix">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="post-media">
                                <div class="entry">
                                    <img src="images/consult/retreat.jpg" alt="" class="img-responsive">
                                </div>
                            </div><!-- end media -->
                        </div><!-- end col-->
                        <div class="col-md-9">
                            <div class="widget-title clearfix">
                                <h3>Retreat Workshop</h3>
                                <p>
                                    The Business Writing Skills course teaches the best practices business people must know to be able to write clear, effective, professional business documents, especially email, memos, letters, and reports. The Business Writing Skills course teaches the best practices business people must know to be able to write clear, effective, professional business documents, especially email, memos, letters, and reports. Effective writing skills boost your image, makes decision-making easier, and portrays your organization as professional and efficient. After completing this workshop, you will be better able to prepare meaningful business documents and tackle even the most awkward communications with confidence.

                                </p>

                            </div><!-- end title -->
                        </div><!-- end col -->
                    </div>
                </div><!--widget -->
            </div><!-- end row -->
            <div class="course-list normal-list">
                <div class="video-wrapper course-widget clearfix">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="post-media">
                                <div class="entry">
                                    <img src="images/consult/presentation.jpg" alt="" class="img-responsive">
                                </div>
                            </div><!-- end media -->
                        </div><!-- end col-->
                        <div class="col-md-9">
                            <div class="widget-title clearfix">
                                <h3>Developing Effective Presentation Skills</h3>
                                <hr>
                                <p>
                                    This course is designed to improve the presentation skills of students. The course consists of tricks and techniques to make the presentation more effective. Good presentation skills require organisation and confidence. If these two essential items are not ticked off, then it’s time you looked at developing presentation skills.3 This type of personal development work will really assist you to develop first more confidence, which is the key. Then, by you getting organised, well presented and ultimately building self-esteem, those dream jobs will appear and your ambitions will be realised. It will teach students skills such as grabbing the attention of the audience, appropriate body language, verbal language,  and structuring the presentation.

                                </p>

                            </div><!-- end title -->
                        </div><!-- end col -->
                    </div>
                </div><!--widget -->
            </div><!-- end row -->
            <div class="course-list normal-list">
                <div class="video-wrapper course-widget clearfix">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="post-media">
                                <div class="entry">
                                    <img src="images/consult/excel.png" alt="" class="img-responsive">
                                </div>
                            </div><!-- end media -->
                        </div><!-- end col-->
                        <div class="col-md-9">
                            <div class="widget-title clearfix">
                                <h3>Smarten Up with Ms-Excel! (Basic to Advanced)</h3>
                                <p>
                                    Microsoft Excel is undoubtedly one of the most powerful spreadsheet applications. But how much have we actually been able to benefit out of it? There's a lot to unravel from the hidden treasure!
                                    Whether you are an entrepreneur or employee, working with a Multinational Corporation (MNC) or Small Medium Enterprise (SME), deployed in Human Resources or Procurement Department, or Accounts or Sales Department, a good grasp of MS-Excel functions will pay-off by saving your time and money.
                                    This Course is designed for novice users of Ms-Excel. If you think any of the following hold TRUE for you (if not any one of them) then you bet it's worth putting your precious time and money into it.
                                </p>

                            </div><!-- end title -->
                        </div><!-- end col -->
                    </div>
                </div><!--widget -->
            </div><!-- end row -->
            <div class="course-list normal-list">
                <div class="video-wrapper course-widget clearfix">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="post-media">
                                <div class="entry">
                                    <img src="images/consult/word.png" alt="" class="img-responsive">
                                </div>
                            </div><!-- end media -->
                        </div><!-- end col-->
                        <div class="col-md-9">
                            <div class="widget-title clearfix">
                                <h3>Microsoft Word ( Basic to advanced)</h3>
                                <hr>
                                <p>
                                    Microsoft Word is a very powerful word processing program.Whether you’re an established professional or new to the field, Microsoft will give you the expertise you need in your field. Microsoft Word (simply referred to as Word) is a sophisticated word processing application program/package specially designed for performing various word processing tasks, such as typing, editing and printing out of textual information. It allows adequate control over the creation and presentation of the typographic work. Microsoft Word also offers facilities for basic graphic design, statistical report of a document, spelling and grammar checking tasks, etc. These and numerous other features and facilities Word offers make it stand out among word processing programs, as well as make the difference between it and other mechanical devices for word processing

                                </p>

                            </div><!-- end title -->
                        </div><!-- end col -->
                    </div>
                </div><!--widget -->
            </div><!-- end row -->
            <div class="course-list normal-list">
                <div class="video-wrapper course-widget clearfix">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="post-media">
                                <div class="entry">
                                    <img src="images/consult/access.png" alt="" class="img-responsive">
                                </div>
                            </div><!-- end media -->
                        </div><!-- end col-->
                        <div class="col-md-9">
                            <div class="widget-title clearfix">
                                <h3>MS Access (Basic to Advanced Level)</h3>
                                <p>
                                    Microsoft Access is a menu-driven database program that includes a graphical user interface enabling novice users to enter, manage and report on their data. Data can be entered using a familiar spreadsheet or table interface and the program will automatically generate forms based upon the data and labels that have been entered. Routine tasks such as searches, sorts and queries can be automated with macros using a point-and-click paradigm. Reports can be formatted by dragging and dropping fields on a graphical interface and the program includes many templates that can be easily modified by end users. Word documents can be easily customized with contact and supplier records within an Access database, and Excel can be used as a front end to enter and update Access database information in real time.

                                </p>

                            </div><!-- end title -->
                        </div><!-- end col -->
                    </div>
                </div><!--widget -->
            </div><!-- end row -->

            <div class="course-list normal-list">
                <div class="video-wrapper course-widget clearfix">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="post-media">
                                <div class="entry">
                                    <img src="images/consult/spss.jpg" alt="" class="img-responsive">
                                </div>
                            </div><!-- end media -->
                        </div><!-- end col-->
                        <div class="col-md-9">
                            <div class="widget-title clearfix">
                                <h3>SPSS</h3>
                                <p>
                                    Data presentation is one of the most crucial steps in a dissertation. An effective presentation of the data not only allows the researcher to analyze the data but it also helps the user of the dissertation to understand the data. SPSS (Statistical Package for the Social Sciences) is one of the most preferred tools adopted by different researchers to present data in their research work.
                                    The uses of SPSS helps the researcher to make the research work more scientific and reliable.
                                    In addition to this, SPSS software can also be proved quite useful for the purpose of graphical representation of the raw data. With the help of the SPSS application, different graphs based on different complex data can be drawn easily and effectively. It reduces the time and efforts of the researcher employed in the process of drawing the graphs based on the data.

                                </p>

                            </div><!-- end title -->
                        </div><!-- end col -->
                    </div>
                </div><!--widget -->
            </div><!-- end row -->
            <div class="course-list normal-list">
                <div class="video-wrapper course-widget clearfix">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="post-media">
                                <div class="entry">
                                    <img src="images/consult/cross_cultural.jpg" alt="" class="img-responsive">
                                </div>
                            </div><!-- end media -->
                        </div><!-- end col-->
                        <div class="col-md-9">
                            <div class="widget-title clearfix">
                                <h3>Cross Cultural Conflict Management</h3>
                                <p>
                                    Cross cultural management (CCM) involves managing work teams in ways that considers the differences in cultures, practices and preferences of consumers in a global or international business context.CCM is very important to understand the dynamics within an organization because of ethnic and cultural diversity that exists. The main challenge though is to align Organization culture with the Local culture and try to have sync with each other. This workshop will help an organization to tackle these challenges and determines the future success.
                                </p>

                            </div><!-- end title -->
                        </div><!-- end col -->
                    </div>
                </div><!--widget -->
            </div><!-- end row -->

        </div><!-- end container -->
    </div><!-- end section -->

    <div class="modal fade" id="contact_modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Any Questions? Feel free to contact us.</h3>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="name">Name:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="name" placeholder="Enter full name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="email">Email:</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="email" placeholder="Enter email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="phone">Phone:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="phone" placeholder="Enter phone number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="email">Message:</label>
                            <div class="col-sm-10">
                                <textarea style="resize:vertical;" class="form-control" placeholder="Message..." rows="6" required></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Send Message</button>
                </div>
            </div>

        </div>
    </div>

</section>

<footer id="footer">
    <% include common/footer %>
</footer>

</body>
</html>