
<html>
<head>
    <% include common/head %>
    <!--additional JS and css-->
</head>
<body>
<header id="header">
    <% include common/header %>
</header>
<section id="content_body">
    <section class="enterprise-grp">
        <div class="container">
            <div class="row enterprise-desc1">
                <div class="col-lg-12 text-center">
                    <h2 class="edu-green"><strong>Enterprise Training Made Simple</strong></h2>
                </div>
            </div>
           <div class="row enterprise-desc2">
               <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 hidden-xs wow bounceInLeft" data-wow-duration="3s" data-wow-delay="0.9s">
                    <img  class="enterprise-image" src="/images/girl.png" width="500" height="500" />
               </div>
               <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 eduware-defination wow fadeInDown" data-wow-duration="3s" data-wow-delay="0.9s">
                   <p>Eduware is an online enterprise training solutions and management tool for training and talent management in organizations. It is a platform for workplace learning. Set training, tests, track progress, share resources and engage employees</p>
                   <a href="/request-a-demo" class="btn btn-primary btn-md active" role="button">Request a Demo</a>

               </div>
           </div>
        </div>
    </section>
    <section class="enterprise-eduware">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="big-title text-center">
                        <h2 class="change-colour"><strong>Why Eduware?</strong></h2>
                        <hr class="customhr customhrcenter">
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow zoomIn" data-wow-duration="3s" data-wow-delay="0.9s">
                    <img src="/images/enter1.jpg" class="img-responsive" alt="Responsive image">
                        <div class="eduware-brief">
                            <p>Eduware has perfect blend of training material, technology, and service that’s designed to meet your exact needs to help your company grow.</p>
                        </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow zoomIn" data-wow-duration="3s" data-wow-delay="0.9s">
                    <img src="/images/enter2.jpg" class="img-responsive" alt="Responsive image">
                    <div class="eduware-brief">
                        <p>Eduware’s integrated tools of metrics to track employees skills will work for your employees development life cycle in an organization from recruitment to promotion.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow zoomIn" data-wow-duration="3s" data-wow-delay="0.9s">
                    <img src="/images/enter3.jpg" class="img-responsive" alt="Responsive image">
                    <div class="eduware-brief">
                        <p>Eduware provide a platform for workplace learning to help your employee be upto date with latest technologies to increase their productivity.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center paddingt20px">
                    <a href="/request-a-demo" class="btn btn-primary btn-md active" role="button">Request a Demo</a>
                </div>
            </div>
        </div>
    </section>
    <section class="enterprise-org-emp">
        <div class="container">
            <div class="row enterprise-org">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 wow slideInLeft" data-wow-duration="2s" data-wow-delay="0.6s">
                    <h2 class="change-colour">Organization</h2>
                    <p>Eduware is can be easily integrated to organization’s ERP system to manage and track training programs. The organization plan and schedule trainings and tests to the employees. Eduware can be used for employees entire development cycle from  recruitment to enterprise training</p>
                    <ul class="list-unstyled">
                        <li>Better transfer of knowledge and talent management</li>
                        <li>Bank-level security</li>
                        <li>Track employee progress</li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 hidden-xs hidden-sm">
                    <img src="/images/organization.jpg" class="img-responsive " alt="Responsive image">
                </div>
            </div>
                <div class="row enterprise-emp">

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 hidden-xs hidden-sm">
                        <img src="/images/employee.jpg" class="img-responsive" alt="Responsive image">
                    </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 wow slideInRight" data-wow-duration="2s" data-wow-delay="0.6s">
                    <h2 class="change-colour">Employee</h2>
                    <p>Eduware makes it easy for employees to learn and reinforce learning, in one place. Eduware also provides a central portal into other organization systems and third party tools. Using Eduware, employees can  </p>
                    <ul class="list-unstyled">
                        <li>Access learning resources from anywhere</li>
                        <li>Improve professional skills</li>
                        <li>Get award and certified</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="enterprise-feature">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="big-title text-center">
                        <h2 class="change-colour"><strong>Features</strong></h2>
                        <hr class="customhr customhrcenter">
                    </div>
                </div>
            </div>
            <div class="row text-center enterprise-feature-part">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <img src="/images/access.png"  alt="Access image">
                    <h4 class="change-colour">Access &amp; Share Digital Content </h4>
                    <p>Our library has huge library of digital content on different topics - compliance tests, professional skills, technical skills and more. We also design and offer customized digital contents tailored for your organization need. </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 enterprise-feature-part">
                    <img src="/images/interface.png"  alt="interface image">
                    <h4 class="change-colour">Intuitive Training Management Interface</h4>
                    <p>Our platform makes it easy to create, assign, &amp; track trainings. Eduware can help you assign training programs &amp;tests to employees according to your requirement &amp; has a sleek UI/UX for learners &amp; trainers .</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <img src="/images/planning.png"  alt="planning image">
                    <h4 class="change-colour">Planning &amp; Tracking Employee Progress</h4>
                    <p>You can get access to real time data of your employees - view in-depth user and group analytics, track top and weak performers, and export the data into CSV and MS-Excel file format. </p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-2 col-sm-12 col-xs-12">
                    <img src="/images/integrete.png"  alt="integrete image">
                    <h4 class="change-colour">Integration</h4>
                    <p>Our user can connect with your HRIS or other available learning technology which will allow us to work seamless with your current IT infrastructure so you don’t have to spend a ton of money on compatible infrastructure.</p>
                </div>
                <div class="col-lg-4  col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-12 col-xs-12">
                    <img src="/images/hosting.png"  alt="hosting image">
                    <h4 class="change-colour">Hosting and Update</h4>
                    <p>Hosted on our advanced and secured cloud hosted infrastructure, you don't have to worry about buying servers, maintenance, storage or staying up to date.<a href="#"> Learn more about the server</a></p>
                </div>
            </div>
        </div>
    </section>
    <section class="enterprise-collaboration">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Edushala has collaborated and provided training and ICT learning solution to organizations in Nepal. </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="space-top-small"></div>
            <div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="7000" id="myCarouselGrid">

                <div class="carouselGrid-inner">
                    <div class="item active">
                        <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6 ">
                            <a href="/partners/embassy" target="_blank">
                                <img src="images/clients/embassy.png" alt="" class="img-responsive">
                            </a>
                        </div>
                    </div>

                    <div class="item">
                        <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6 ">
                            <a href="partners/icimod" target="_blank">
                                <img src="images/clients/icimod.png" alt="" class="img-responsive">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6 ">
                            <a href="partners/ncell" target="_blank">
                                <img src="images/clients/ncell.png" alt="" class="img-responsive">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6 ">
                            <a href="partners/triyog" target="_blank">
                                <img src="images/clients/shuvatara.png" alt="" class="img-responsive">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6 ">
                            <a href="#" target="_blank">
                                <img src="images/clients/nepali-in.png" alt="" class="img-responsive">
                            </a>
                        </div>
                    </div>
                </div>


                </div>
                <a class="left carouselGrid-control" href="#myCarouselGrid" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                <a class="right carouselGrid-control" href="#myCarouselGrid" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
            </div>
        </div><!-- end container -->
    </section>

</section>



<footer id="footer">
    <% include common/footer %>
</footer>

</body>
</html>
