
<html>
<head>
    <% include common/head %>
    <!--additional JS and css-->
    <link rel="stylesheet" href="/css/faq.css">
  <!--  <script src="/js/app/pages/faq.js" type="text/javascript"></script>  -->
</head>
<body>
<header id="header">
    <% include common/header %>
</header>

<section id="content_body">
    <div class="space-top"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#students" aria-controls="home" role="tab" data-toggle="tab">For Students</a></li>
                        <li role="presentation"><a href="#educators" aria-controls="profile" role="tab" data-toggle="tab">For Educators</a></li>
                        <li role="presentation"><a href="#institutes" aria-controls="messages" role="tab" data-toggle="tab">For Institutions</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="students">
                            <div class="panel-group" id="faqAccordion">
                                <div class="panel panel-default ">
                                    <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                                        <h4 class="panel-title">
                                            <a href="#" class="ing">Q: Do I get a degree or a certificate from Edushala courses?</a>
                                        </h4>

                                    </div>
                                    <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                                        <div class="panel-body">
                                            <h5><span class="label label-primary">Answer</span></h5>

                                            <p>
                                                Edushala does not offer degrees or certificates. At the core of each Edushala course is a project designed to develop your skills and give you tools you can apply again and again in your life. Our value lies in your ability to use those skills in real world applications, rather than your ability to recall a fact during a certification exam. At the conclusion of each course, you will receive a digital statement of accomplishment as proof that you have completed the course.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default ">
                                    <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
                                        <h4 class="panel-title">
                                            <a href="#" class="ing">Q: What if I can't make it to a class?</a>
                                        </h4>

                                    </div>
                                    <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                                        <div class="panel-body">
                                            <h5><span class="label label-primary">Answer</span></h5>

                                            <p>When you sign up for a course and submit your payment, it's understood that you will attend each session. If you miss any session, your instructor may not be able to reschedule it or deliver the content of the course separately.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default ">
                                    <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
                                        <h4 class="panel-title">
                                            <a href="#" class="ing">Q: Do you have a refund policy?</a>
                                        </h4>

                                    </div>
                                    <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                                        <div class="panel-body">
                                            <h5><span class="label label-primary">Answer</span></h5>

                                            <p>  We only collect payment once a course is confirmed. In the event an instructors cancels a course after it has begun, we will offer a refund.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default ">
                                    <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
                                        <h4 class="panel-title">
                                            <a href="#" class="ing">Q: How do I pay for classes?</a>
                                        </h4>

                                    </div>
                                    <div id="question3" class="panel-collapse collapse" style="height: 0px;">
                                        <div class="panel-body">
                                            <h5><span class="label label-primary">Answer</span></h5>

                                            <p>You can pay at our facility or at Nabil Bank, our partner. We cannot start your enrollment process until we receive your payment for the course you have registered. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="educators">
                            <div class="panel-group" id="faqAccordion">
                                <div class="panel panel-default ">
                                    <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#q1">
                                        <h4 class="panel-title">
                                            <a href="#" class="ing">Q:  I'd like to teach a course! How can I teach a subject I'm passionate about?</a>
                                        </h4>

                                    </div>
                                    <div id="q1" class="panel-collapse collapse" style="height: 0px;">
                                        <div class="panel-body">
                                            <h5><span class="label label-primary">Answer</span></h5>

                                            <p>
                                                It's free and easy to join our network of instructors and share your interests.  Join our growing educator community in 3 steps:
                                            <ul class="unlist">
                                                <li>1. Sign up for an <a href="signup">Edushala account</a></li>
                                                <li>2. Log in and create a course proposal and <a href="proposal">submit it to Edushala</a></li>
                                                <li>3. Edushala will review your course and place it in our marketplace. <a href="learn">Check out our growing list of courses</a></li>
                                            </ul>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default ">
                                    <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#q2">
                                        <h4 class="panel-title">
                                            <a href="#" class="ing">Q:  How can I get paid to teach a course with Edushala?</a>
                                        </h4>

                                    </div>
                                    <div id="q2" class="panel-collapse collapse" style="height: 0px;">
                                        <div class="panel-body">
                                            <h5><span class="label label-primary">Answer</span></h5>

                                            <p>
                                                Once you've listed a course, Edushala becomes your marketing partner and we'll do our best to sell your course to students. When you submit a course, we ask you how many minimum students you'd like to teach -- once we find that many students, the course is on! Edushala will collect payment on your behalf and pay you after you teach the last session of your course.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default ">
                                    <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#q3">
                                        <h4 class="panel-title">
                                            <a href="#" class="ing">Q:  How much can I earn by partnering with you?</a>
                                        </h4>

                                    </div>
                                    <div id="q3" class="panel-collapse collapse" style="height: 0px;">
                                        <div class="panel-body">
                                            <h5><span class="label label-primary">Answer</span></h5>

                                            <p>
                                                We get asked this question a lot and have done a lot of research. In Kathmandu, instructors typically earn between 5% and 20% of the fees collected by institutes, organizations, or academic institutions. At Edushala, we return 60% or 70% of fees collected, depending on whether you use an Edushala facility to teach your course. We use the difference to market our listed courses, including yours.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default ">
                                    <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#q4">
                                        <h4 class="panel-title">
                                            <a href="#" class="ing">Q:  How do I market my class?</a>
                                        </h4>

                                    </div>
                                    <div id="q4" class="panel-collapse collapse" style="height: 0px;">
                                        <div class="panel-body">
                                            <h5><span class="label label-primary">Answer</span></h5>

                                            <p>
                                                Spread the word to friends and family through word of mouth and share the link to your class through social media. Our marketing team will also help you market your course and help you reach your potential students.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default ">
                                    <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#q5">
                                        <h4 class="panel-title">
                                            <a href="#" class="ing">Q:  What kind of qualification do Edushala instructors have?</a>
                                        </h4>

                                    </div>
                                    <div id="q5" class="panel-collapse collapse" style="height: 0px;">
                                        <div class="panel-body">
                                            <h5><span class="label label-primary">Answer</span></h5>

                                            <p>
                                                Ever learn something from your mom? A cousin? A good friend or a neighbor? We're always learning from the people around us and we take the same approach at Edushala: if you're passionate about what you want to teach, you're qualified. Our students will rate instructor performance based on their ability to DO the skills they learned in the classroom, not some exam.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default ">
                                    <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#q6">
                                        <h4 class="panel-title">
                                            <a href="#" class="ing">Q:  Can I change or cancel a class?</a>
                                        </h4>

                                    </div>
                                    <div id="q6" class="panel-collapse collapse" style="height: 0px;">
                                        <div class="panel-body">
                                            <h5><span class="label label-primary">Answer</span></h5>

                                            <p>
                                                Once a class is confirmed and filled with students, you cannot change or cancel any session unless you have communicated it clearly with your students. While your course is listed in the Edushala marketplace, you are free to change any course details, including date and time.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default ">
                                    <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#q7">
                                        <h4 class="panel-title">
                                            <a href="#" class="ing">Q:  Can I relist my class to teach again?</a>
                                        </h4>

                                    </div>
                                    <div id="q7" class="panel-collapse collapse" style="height: 0px;">
                                        <div class="panel-body">
                                            <h5><span class="label label-primary">Answer</span></h5>

                                            <p>
                                                Yes, we encourage educators to re-list a course or modify a course and target it to different student segments.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="space-top"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="institutes">
                            <div class="panel-group" id="faqAccordion">
                                <div class="panel panel-default ">
                                    <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#ques1">
                                        <h4 class="panel-title">
                                            <a href="#" class="ing">Q: How can I partner with Edushala?</a>
                                        </h4>

                                    </div>
                                    <div id="ques1" class="panel-collapse collapse" style="height: 0px;">
                                        <div class="panel-body">
                                            <h5><span class="label label-primary">Answer</span></h5>

                                            <p>
                                                We are always looking for people and companies who are passionate about teaching and learning. Please contact us and we will get back to you promptly.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default ">
                                    <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#ques2">
                                        <h4 class="panel-title">
                                            <a href="#" class="ing">Q: Does Edushala work with schools or companies to build custom training programs?</a>
                                        </h4>

                                    </div>
                                    <div id="ques2" class="panel-collapse collapse" style="height: 0px;">
                                        <div class="panel-body">
                                            <h5><span class="label label-primary">Answer</span></h5>

                                            <p> Yes, we have built several custom programs for institutions like Triyog, Shuvatara, ICIMOD and Thames College. Each of our modules are carefully put together with "hand-picked" educators. We cater to your needs! Please contact us if you are interested in working with us.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="space-top"></div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="space-top"></div>
</section>


<footer id="footer">
    <% include common/footer %>
</footer>

</body>
</html>