
<html>
<head>
    <% include common/head %>
    <!--additional JS and css-->
</head>
<body>
<header id="header">
    <% include common/header %>
</header>

<section id="content_body">
    <div class="section lightbg onecourse">
        <div class="container">
            <div class="text-center">
                <h2 class="text-center edu-green"><strong>Love what you learn</strong></h2>
            </div><!-- end title -->

            <div class="section lightbg onecourse">
                <div class="container">
                    <div class="row service-list text-center">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                            <div class="widget clearfix">
                                <img src="images/icon-one.png" alt="" class="img-responsive">
                                <div class="widget-title">
                                    <h3>Find a class</h3>
                                    <p>Learning takes place at any age. Find a class for you to learn practical skills from our growing community of education enthusiasts!</p>
                                    <hr>
                                </div><!-- end title -->
                            </div><!--widget -->
                        </div><!-- end col -->

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
                            <div class="widget clearfix">
                                <img src="images/icon-two.png" alt="" class="img-responsive">
                                <div class="widget-title">
                                    <h3>Rate classes you take</h3>
                                    <p>Leave genuine reviews and be a trusted member! Share your experience with your fellow edushalites and help grow a community.</p>
                                    <hr>
                                </div><!-- end title -->
                            </div><!--widget -->
                        </div><!-- end col -->

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                            <div class="widget clearfix">
                                <img src="images/icon-three.png" alt="" class="img-responsive">
                                <div class="widget-title">
                                    <h3>Build a portfolio</h3>
                                    <p>Most classes include mandatory project submissions. And a portfolio of your projects is much better than high grades! You can also connect with fellow edushalites and discover new professional opportunities!</p>
                                    <hr>
                                </div><!-- end title -->
                            </div><!--widget -->
                        </div><!-- end col -->
                    </div>
                    <div class="row service-list text-center">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                        </div><!-- end col -->

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
                            <a class="btn btn-lg btn-edushala" href="learn" role="button">Find a Class</a>
                        </div><!-- end col -->

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                        </div><!-- end col -->
                    </div>
                    <hr>

                    <div class="text-center space-top">
                        <h2 class="text-center edu-green"><strong>Teach what you love</strong></h2>
                    </div><!-- end title -->

                    <div class="space-top"></div>

                    <div class="row service-list text-center">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                            <div class="widget clearfix">
                                <img src="images/icon-one.png" alt="" class="img-responsive">
                                <div class="widget-title">
                                    <h3>Create a class</h3>
                                    <p>Submit a course proposal for review. Create a course document with timeline, sessions and project steps.</p>
                                    <hr>
                                </div><!-- end title -->
                            </div><!--widget -->
                        </div><!-- end col -->

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
                            <div class="widget clearfix">
                                <img src="images/icon-two.png" alt="" class="img-responsive">
                                <div class="widget-title">
                                    <h3>Spread the word</h3>
                                    <p>Use the edushala platform to reach to new students and market your class through word of mouth and social networks!</p>
                                    <hr>
                                </div><!-- end title -->
                            </div><!--widget -->
                        </div><!-- end col -->

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                            <div class="widget clearfix">
                                <img src="images/icon-three.png" alt="" class="img-responsive">
                                <div class="widget-title">
                                    <h3>Engage</h3>
                                    <p>Most classes include mandatory project submissions. And a portfolio of your projects is much better than high grades! You can also connect with fellow edushalites and discover new professional opportunities!</p>
                                    <hr>
                                </div><!-- end title -->
                            </div><!--widget -->
                        </div><!-- end col -->
                    </div>
                    <div class="row service-list text-center">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                        </div><!-- end col -->

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
                            <a class="btn btn-lg btn-edushala" href="proposal" role="button">Start a Proposal</a>
                        </div><!-- end col -->

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                        </div><!-- end col -->
                    </div>

                    <hr>

                    <div class="text-center space-top">
                        <h2 class="text-center edu-green"><strong>Meet the right people</strong></h2>
                    </div><!-- end title -->

                    <div class="space-top"></div>

                    <div class="row service-list text-center">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                            <div class="widget clearfix">
                                <img src="images/profile.png" alt="" class="img-responsive">
                                <div class="widget-title">
                                    <h3>Build your profile</h3>
                                    <p>Create an Edushala profile and join our community of professionals. Take a variety of our classes and build your professional identity.</p>
                                    <hr>
                                </div><!-- end title -->
                            </div><!--widget -->
                        </div><!-- end col -->

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
                            <div class="widget clearfix">
                                <img src="images/skills.jpg" alt="" class="img-responsive">
                                <div class="widget-title">
                                    <h3>Flaunt your skills</h3>
                                    <p>Market yourself! Share your skills and experience. Use edushala to stand out in what you do best.</p>
                                    <hr>
                                </div><!-- end title -->
                            </div><!--widget -->
                        </div><!-- end col -->

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                            <div class="widget clearfix">
                                <img src="images/network.png" alt="" class="img-responsive">
                                <div class="widget-title">
                                    <h3>Network</h3>
                                    <p>Imagine a diverse community of passionate educators and enthusiastic students. Grow your professional network and discover professional opportunities and new ventures.</p>
                                    <hr>
                                </div><!-- end title -->
                            </div><!--widget -->
                        </div><!-- end col -->
                    </div>

                    <div class="row service-list text-center">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                        </div><!-- end col -->

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
                            <a class="btn btn-lg btn-edushala" href="/signup" role="button">Join Us</a>
                        </div><!-- end col -->

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                        </div><!-- end col -->
                    </div>

                </div><!-- end container -->
            </div><!-- end section -->

            <hr class="largeinvis">
        </div><!-- end container -->
    </div><!-- end section -->
</section>


<footer id="footer">
    <% include common/footer %>
</footer>

</body>
</html>