<html>
<head>
    <% include common/head %>
    <script src="/js/app/pages/logout_process.js" type="text/javascript"></script>
    <!--additional JS and css-->
</head>
<body>
<header id="header">
    <% include common/header %>
</header>


</body>
</html>