
<html>
<head>
    <% include common/head %>
    <!--additional JS and css-->
</head>
<body>
<header id="header">
    <% include common/header %>
</header>

<section id="content_body">
    <div class="section lightbg onecourse">
        <div class="container">
            <div class="section">
                <div class="container-fluid">
                    <div class="space-top"></div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div id="message-text"><%- message %></div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="space-top"></div>
                </div><!-- end container -->
            </div><!-- end section -->
            <div class="space-top"></div>
        </div><!-- end container -->
    </div><!-- end section -->
</section>

<footer id="footer">
    <% include common/footer %>
</footer>

</body>
</html>