
<html>
<head>
    <% include common/head %>
    <!--additional JS and css-->
</head>
<body>
<header id="header">
    <% include common/header %>
</header>

<section id="content_body">
    <div class="section lb overflow">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="big-title m15 text-center">
                        <h2 class="change-colour"><strong>We love our partners</strong></h2>
                        <hr class="customhr">
                        <p class="lead">We are working with enterprises, schools and colleges all over Nepal.<br> We have a mission to build educational collaboration ecosystem. Our learning experiences have make <br>people happier, more valuable, and more productive than ever. We’ve delivered over 100 learning experiences <br>to more than 20 organizations.</p>
                        <p class="lead">Amazing learning experience from Edushala. For academia to enterprises in Nepal, Edushala has created customized <br>educational service packages. Take a look at some of our works below and get in touch.</p>
                    </div><!-- end title -->
                </div>
            </div>
        </div>
        <div class="ipad_02-wrap hidden-sm hidden-xs wow slideInRight"></div>
    </div>

    <section id="main-content">
        <div class="section">
            <div class="container">
                <div class="row course-list">
                    <div class="col-md-3 wow fadeIn">
                        <div class="video-wrapper course-widget course-box-height  clearfix">
                            <div class="post-media">
                                <div class="entry">
                                    <img src="images/clients/embassy.png" alt="" class="img-responsive">
                                </div>
                            </div><!-- end media -->

                            <div class="widget-title clearfix text-center">
                                <h3><a href="/partners/embassy">US Embassy</a></h3>
                                <hr>
                                <div class="bottom-line clearfix">
                                    <p>Started in 1947, the mission of the U.S. Embassy in Nepal is to assist...</p>
                                </div><!-- end bottom -->
                            </div><!-- end title -->
                        </div><!--widget -->
                    </div><!-- end col -->

                    <div class="col-md-3 wow fadeIn">
                        <div class="video-wrapper course-widget course-box-height clearfix">
                            <div class="post-media">
                                <div class="entry">
                                    <img src="/images/clients/cloudfactory.png" alt="" class="img-responsive">
                                </div>
                            </div><!-- end media -->

                            <div class="widget-title clearfix text-center">
                                <h3><a href="/partners/cloudfactory">Cloud Factory</a></h3>
                                <hr>
                                <div class="bottom-line clearfix">
                                    <p>CloudFactory is an IT company that provides the perfect blend of...</p>
                                </div><!-- end bottom -->
                            </div><!-- end title -->
                        </div><!--widget -->
                    </div><!-- end col -->

                    <div class="col-md-3 wow fadeIn">
                        <div class="video-wrapper course-widget course-box-height clearfix">
                            <div class="post-media">
                                <div class="entry">
                                    <img src="images/clients/ncell.png" alt="" class="img-responsive">
                                </div>
                            </div><!-- end media -->

                            <div class="widget-title clearfix text-center">
                                <h3><a href="/partners/ncell">NCell</a></h3>
                                <hr>
                                <div class="bottom-line clearfix">
                                    <p>Ncell Pvt. Ltd. has been working in Nepal since 2004 as...</p>
                                </div><!-- end bottom -->
                            </div><!-- end title -->
                        </div><!--widget -->
                    </div><!-- end col -->

                    <div class="col-md-3 wow fadeIn">
                        <div class="video-wrapper course-widget course-box-height clearfix">
                            <div class="post-media">
                                <div class="entry">
                                    <img src="images/clients/worldbank.png" alt="" class="img-responsive">
                                </div>
                            </div><!-- end media -->

                            <div class="widget-title clearfix text-center">
                                <h3><a href="/partners/worldbank">World Bank</a></h3>
                                <hr>
                                <div class="bottom-line clearfix">
                                    <p>Started in 1947, the mission of the U.S. Embassy in Nepal is to assist...</p>
                                </div><!-- end bottom -->
                            </div><!-- end title -->
                        </div><!--widget -->
                    </div><!-- end col -->
                </div>
                <div class="space-top-small"></div>
                <div class="row course-list">
                    <div class="col-md-3 wow fadeIn">
                        <div class="video-wrapper course-widget course-box-height clearfix">
                            <div class="post-media">
                                <div class="entry">
                                    <img src="images/clients/icimod.png" alt="" class="img-responsive">
                                </div>
                            </div><!-- end media -->

                            <div class="widget-title clearfix text-center">
                                <h3><a href="/partners/icimod">ICIMOD</a></h3>
                                <hr>
                                <div class="bottom-line clearfix">
                                    <p>Founded in 1983, International Centre for Integrated Mountain...</p>
                                </div><!-- end bottom -->
                            </div><!-- end title -->
                        </div><!--widget -->
                    </div>

                    <div class="col-md-3 wow fadeIn">
                        <div class="video-wrapper course-widget course-box-height clearfix">
                            <div class="post-media">
                                <div class="entry">
                                    <img src="images/clients/thames.png" alt="" class="img-responsive">
                                </div>
                            </div><!-- end media -->

                            <div class="widget-title clearfix text-center">
                                <h3><a href="/partners/thames">Thames</a></h3>
                                <hr>
                                <div class="bottom-line clearfix">
                                    <p>Thames International College is an academic institution...</p>
                                </div><!-- end bottom -->
                            </div><!-- end title -->
                        </div><!--widget -->
                    </div>

                    <div class="col-md-3 wow fadeIn">
                        <div class="video-wrapper course-widget course-box-height clearfix">
                            <div class="post-media">
                                <div class="entry">
                                    <img src="images/clients/triyog.png" alt="" class="img-responsive">
                                </div>
                            </div><!-- end media -->

                            <div class="widget-title clearfix text-center">
                                <h3><a href="/partners/triyog">Triyog High School</a></h3>
                                <hr>
                                <div class="bottom-line clearfix">
                                    <p>Triyog Higher Secondary School (THSS), a private English Medium...</p>
                                </div><!-- end bottom -->
                            </div><!-- end title -->
                        </div><!--widget -->
                    </div>

                    <div class="col-md-3 wow fadeIn">
                        <div class="video-wrapper course-widget course-box-height clearfix">
                            <div class="post-media">
                                <div class="entry">
                                    <img src="images/clients/shuvatara.png" alt="" class="img-responsive">
                                </div>
                            </div><!-- end media -->

                            <div class="widget-title clearfix text-center">
                                <h3><a href="/partners/shuvatara">Shuvatara High School</a></h3>
                                <hr>
                                <div class="bottom-line clearfix">
                                    <p>Established in 1989, Shuvatara School is a 10 year comprehensive..</p>
                                </div><!-- end bottom -->
                            </div><!-- end title -->
                        </div><!--widget -->
                    </div>
                </div>
                <div class="space-top-small"></div>
                <div class="row course-list">
                    <div class="col-md-3 wow fadeIn">
                        <div class="video-wrapper course-widget course-box-height clearfix">
                            <div class="post-media">
                                <div class="entry">
                                    <img src="images/clients/homeloan.png" alt="" class="img-responsive">
                                </div>
                            </div><!-- end media -->

                            <div class="widget-title clearfix text-center">
                                <h3><a href="/partners/home-loan">Home Loan Experts</a></h3>
                                <hr>
                                <div class="bottom-line clearfix">
                                    <p>HLE Nepal is a Business Process Outsourcing (BPO) company ...</p>
                                </div><!-- end bottom -->
                            </div><!-- end title -->
                        </div><!--widget -->
                    </div>

                    <div class="col-md-3 wow fadeIn">
                        <div class="video-wrapper course-widget course-box-height clearfix">
                            <div class="post-media">
                                <div class="entry">
                                    <img src="images/clients/nepali-in.png" alt="" class="img-responsive">
                                </div>
                            </div><!-- end media -->

                            <div class="widget-title clearfix text-center">
                                <h3><a href="/partners/investment">Investment Board Nepal</a></h3>
                                <hr>
                                <div class="bottom-line clearfix">
                                    <p>The Investment Board Nepal (IBN) was created in 2011 by the..</p>
                                </div><!-- end bottom -->
                            </div><!-- end title -->
                        </div><!--widget -->
                    </div>
                </div>
                <!-- end row -->
            </div><!-- end container -->
        </div><!-- end section -->
    </section>
</section>


<footer id="footer">
    <% include common/footer %>
</footer>

</body>
</html>