
<html>
<head>
    <% include common/head %>
    <!--additional JS and css-->
</head>
<body>
<header id="header">
    <% include common/header %>
</header>

<section id="content_body">
    <div class="page-title section lb">
        <div class="container">
            <div class="clearfix">
                <div class="title-area pull-left">
                    <h2>Workshop For Schools<small>Edushala's course list page for schools.</small></h2>
                </div><!-- /.pull-right -->
                <div class="pull-right hidden-xs">
                    <a class="btn btn-primary" data-toggle="modal" data-target="#contact_modal" data-original-title>
                        Contact Us
                    </a>
                </div><!-- /.pull-right -->
            </div><!-- end clearfix -->
        </div>
    </div><!-- end page-title -->
    <div class="section">
        <div class="container">
            <div class="course-list normal-list">
                <div class="video-wrapper course-widget clearfix">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="post-media">
                                <div class="entry">
                                    <img src="images/consult/no_waste.jpg" alt="" class="img-responsive">
                                </div>
                            </div><!-- end media -->
                        </div><!-- end col-->
                        <div class="col-md-9">
                            <div class="widget-title clearfix">
                                <h3><a href="#">NO WASTE</a> </h3>

                                <hr>
                                <b>Waste should not be wasted!!!</b>
                                <p>
                                    With this slogan in mind Edushala brings to you a fun, engaging and practical class on how to manage domestic waste at home.
                                    This class is specially designed for children with the objectives of making them aware of problems and solutions related to domestic waste such as plastics, used bottles, kitchen leftovers, old clothes etc.
                                    In this class children shall engage themselves in DIYs, share ideas, discuss critical matters and find solutions to protect our beautiful planet Earth. We highly encourage parents to participate along with their kids so that they learn something together.

                                </p>


                            </div><!-- end title -->
                        </div><!-- end col -->
                    </div>
                </div><!--widget -->
            </div><!-- end row -->
            <div class="course-list normal-list">
                <div class="video-wrapper course-widget clearfix">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="post-media">
                                <div class="entry">
                                    <img src="images/consult/personality_dev.jpg" alt="" class="img-responsive">
                                </div>
                            </div><!-- end media -->
                        </div><!-- end col-->
                        <div class="col-md-9">
                            <div class="widget-title clearfix">
                                <h3><a href="#">Personality Development</a></h3>
                                <hr>
                                <p>
                                    Developing a child’s personality is an essential element in today’s competitive world in order to distinguish themselves from rest. A developed personality is definitely a key to success. Understanding social and personality development requires looking at children from three
                                    perspectives that interact to shape development i.e. social context, biological
                                    maturation children’s developing representations of themselves and the social
                                    world. The objective of this workshop is to help child's Personality
                                    Grow through interaction with similar age group and interactive games which
                                    will help them discover more about themselves. This workshop will help
                                    kids to express themselves more properly and build confidence.

                                </p>

                            </div><!-- end title -->
                        </div><!-- end col -->
                    </div>
                </div><!--widget -->
            </div><!-- end row -->
            <div class="course-list normal-list">
                <div class="video-wrapper course-widget clearfix">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="post-media">
                                <div class="entry">
                                    <img src="images/consult/self_defense.jpg" alt="" class="img-responsive">
                                </div>
                            </div><!-- end media -->
                        </div><!-- end col-->
                        <div class="col-md-9">
                            <div class="widget-title clearfix">
                                <h3><a href="#">Self defense class for girls</a></h3>
                                <hr>
                                <p>By taking lessons in self defense for girls, she will grow up knowing what treatment she deserves, how to steer clear of bad situations, and how to fight back against those who would harm her and protect her. The Female Awareness self defense course is designed to make you more aware, prepared, and ready for any situation that may occur in your everyday life on any given day. This course differs from other self defense classes in that they start from the point of attack, and since I believe attacks begin before it becomes physical, we teach how to avoid the attack altogether.</p>

                            </div><!-- end title -->
                        </div><!-- end col -->
                    </div>
                </div><!--widget -->
            </div><!-- end row -->
            <div class="course-list normal-list">
                <div class="video-wrapper course-widget clearfix">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="post-media">
                                <div class="entry">
                                    <img src="images/consult/weekend_football.jpg" alt="" class="img-responsive">
                                </div>
                            </div><!-- end media -->
                        </div><!-- end col-->
                        <div class="col-md-9">
                            <div class="widget-title clearfix">
                                <h3><a href="#">Weekend Football School</a></h3>
                                <hr>
                                <p>
                                    Weekend Football School is a training program for children aged 6-12 years old with an objective of developing a learning of fundamental aspects of Football in a fun and friendly environment. The 24 Saturdays (Just about 6 months) long event will be held at Futsal Arena, Nayabasti, Boudha (Near Samatha School)The training is conducted by AFC (Asian Football Confederation) licensed coaches including a foreign coach and a Nepali coach having many years of experience coaching specifically children and youth.
                                    Each training session focuses on making the children comfortable with the ball individually as well as learning to play as a team. The progression of each training sessions has warm ups, fun football drills, experiencing real match situations.
                                </p>

                            </div><!-- end title -->
                        </div><!-- end col -->
                    </div>
                </div><!--widget -->
            </div><!-- end row -->
            <div class="course-list normal-list">
                <div class="video-wrapper course-widget clearfix">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="post-media">
                                <div class="entry">
                                    <img src="images/consult/child_pshychology.jpg" alt="" class="img-responsive">
                                </div>
                            </div><!-- end media -->
                        </div><!-- end col-->
                        <div class="col-md-9">
                            <div class="widget-title clearfix">
                                <h3><a href="#">Child Psychology</a></h3>
                                <hr>
                                <p>
                                    A major factor that shapes our adult personality is our early childhood experience. How to talk to them, how to teach them, how to discipline them, how to reward them, and what developmental changes should be expected of them at different stages of early childhood - all of these come under the study of child psychology. By studying child psychology, we can better understand children and equip them to become well-adjusted, more adaptable adults who are capable of living rich and varied lives. This course is for all those who want to find out what psychology can tell us about the nature and development of children. This study is intended for those training to work with children in a variety of professional roles, young parents/expecting parents or anyone just interested in understanding how children develop.
                                </p>

                            </div><!-- end title -->
                        </div><!-- end col -->
                    </div>
                </div><!--widget -->
            </div><!-- end row -->


        </div><!-- end container -->
    </div><!-- end section -->

    <div class="modal fade" id="contact_modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Any Questions? Feel free to contact us.</h3>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="name">Name:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="name" placeholder="Enter full name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="email">Email:</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="email" placeholder="Enter email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="phone">Phone:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="phone" placeholder="Enter phone number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="email">Message:</label>
                            <div class="col-sm-10">
                                <textarea style="resize:vertical;" class="form-control" placeholder="Message..." rows="6" required></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Send Message</button>
                </div>
            </div>

        </div>
    </div>
</section>

<footer id="footer">
    <% include common/footer %>
</footer>

</body>
</html>