
<html>
<head>
    <% include ../common/head %>
    <!--additional JS and css-->
</head>
<body>
<header id="header">
    <% include ../common/header %>
</header>

<section id="content_body">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="content col-md-12 col-sm-12">
                    <div>
                        <div class="blog-big-title clearfix">
                            <h3>NCell</h3>
                        </div>
                        <div id="myCarousel" class="carousel slide portfolio-carousel" data-ride="carousel">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img src="/images/clients/ncell1.jpg" alt="NCell">
                                    <div class="carousel-caption">
                                        <!-- <h3>Chania</h3>
                                         <p>The atmosphere in Chania has a touch of Florence and Venice.</p> -->
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="/images/clients/ncell2.jpg" alt="NCell">
                                    <div class="carousel-caption">
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="/images/clients/ncell3.jpg" alt="NCell">
                                    <div class="carousel-caption">
                                    </div>
                                </div>
                            </div>

                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <p>Ncell Pvt. Ltd. has been working in Nepal since 2004 as the first private mobile operator in the country. The company is committed to being the best local mobile network for the people living in the country. Ncell contributes to the development of the country’s economy and infrastructure, building best-in-class networks and bringing people in the remotest areas of Nepal within the reach of communications.</p>

                        <p>Edushala designed three-day long experiential activity based teambuilding management workshop - Happiness Joyshop for 30 members of NCell (P) Ltd at Sauraha, Chitwan. It is a playful, engaging, highly experiential program designed to meet the personal need of recreational retreat and at the same time professional need of the practical day-to-day work related challenges, and to deeply connect with people we work with, and as a community of people working together.</p>

                        <p><a href="http://www.ncell.com.np" target="_blank">http://www.ncell.com.np</a></p>

                    </div><!-- end post-padding -->

                </div><!-- end content -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->
</section>


<footer id="footer">
    <% include ../common/footer %>
</footer>

</body>
</html>