
<html>
<head>
    <% include ../common/head %>
    <!--additional JS and css-->
</head>
<body>
<header id="header">
    <% include ../common/header %>
</header>

<section id="content_body">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="content col-md-12 col-sm-12">
                    <div>
                        <div class="blog-big-title clearfix">
                            <h3>Triyog High School</h3>
                        </div>
                        <div id="myCarousel" class="carousel slide portfolio-carousel" data-ride="carousel">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img src="/images/clients/triyog1.jpg" alt="Triyog">
                                    <div class="carousel-caption">
                                        <!-- <h3>Chania</h3>
                                         <p>The atmosphere in Chania has a touch of Florence and Venice.</p> -->
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="/images/clients/triyog2.jpg" alt="Triyog">
                                    <div class="carousel-caption">
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="/images/clients/triyog3.jpg" alt="Triyog">
                                    <div class="carousel-caption">
                                    </div>
                                </div>
                            </div>

                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <p>Triyog Higher Secondary School (THSS), a private English Medium School was founded in 1987, with a handful of students, by a small group of Nepalese women concerned with providing the girls of Nepal with quality education. The School is committed to a sound education based on all round development of ‘mind’, ‘body’ and ‘soul’ of its students. Twenty two years down the line, it has grown into one of the premier co-ed institutions in the country, with 1300 students and boasting a staff size of 170. </p>

                        <p>Edushala designed an early grade reading teachers’ training program based on Lucy Calkins. The program helped teachers build state-of-the-art classroom libraries, using guides exactly tailored to the classrooms in which they teach.</p>

                        <p><a href="http://www.triyog.edu.np" target="_blank">http://www.triyog.edu.np</a></p>

                    </div><!-- end post-padding -->

                </div><!-- end content -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->
</section>


<footer id="footer">
    <% include ../common/footer %>
</footer>

</body>
</html>