
<html>
<head>
    <% include ../common/head %>
    <!--additional JS and css-->
    <script src="/js/app/pages/teach.js" type="text/javascript"></script>
</head>
<body>
<header id="header">
    <% include ../common/header %>
</header>

<section id="content_body">
    <section class="teach-overlay ">
    </section>
    <div class="section lightbg onecourse">
        <div class="container">
                <div id="kachha-head">
                    <h2 class="text-center edu-green"><strong>How can I get started?</strong></h2>
                    <p class="text-center teach-desc">Becoming an instructor at Edushala is a cakewalk if you are really passionate                     about what<br> you want to teach. To get started please submit your course proposal at first by<br> clicking                      in the Start a Proposal button. After your course proposal is reviewed and approved,<br> your course will be                      listed.</p>
                </div>

            <div class="row service-list text-center teach-list">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <div class="widget clearfix">
                        <img src="images/icon-one.png" alt="" class="img-responsive">
                        <div class="widget-title">
                            <h3>Submit a course proposal</h3>
                            <hr>
                        </div><!-- end title -->
                    </div><!--widget -->
                </div><!-- end col -->

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
                    <div class="widget clearfix">
                        <img src="images/icon-two.png" alt="" class="img-responsive">
                        <div class="widget-title">
                            <h3>Develop your class content</h3>
                            <hr>
                        </div><!-- end title -->
                    </div><!--widget -->
                </div><!-- end col -->

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                    <div class="widget clearfix">
                        <img src="images/icon-three.png" alt="" class="img-responsive">
                        <div class="widget-title">
                            <h3>List your course for approval</h3>
                            <hr>
                        </div><!-- end title -->
                    </div><!--widget -->
                </div><!-- end col -->
            </div>
            <div class="row service-list text-center">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                </div><!-- end col -->

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
                    <a class="btn btn-lg btn-edushala" href="proposal" role="button">Start a proposal</a>
                </div><!-- end col -->

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                </div><!-- end col -->
            </div>
        </div><!-- end container -->
    </div><!-- end section -->

    <div class="section lb">
        <div class="container">
            <div class="big-title text-center">
                <h2 class="text-center edu-green"><strong>Why Edushala</strong></h2>
                <hr class="customhr customhrcenter">
            </div><!-- end title -->
            <div class="row service-list service-style2 text-center clearfix">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <div class="widget clearfix">
                        <img src="images/entrepreneur.png" alt="" class="img-responsive">
                        <div class="widget-title">
                            <h3 class="text-edushala">Be an entrepreneur.</h3>
                            <hr>
                            <p>We give you a platform to be your own boss. Create your own classes with a schedule that works for you!.</p>
                        </div><!-- end title -->
                    </div><!--widget -->
                </div><!-- end col -->

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeIn " data-wow-duration="1s" data-wow-delay="0.3s">
                    <div class="widget clearfix">
                        <img src="images/education.png" alt="" class="img-responsive">
                        <div class="widget-title">
                            <h3>Passion-centric Education</h3>
                            <hr>
                            <p>Teach what you are passionate about. And see how you can change lives! We advocate project-based learning rather than grade-centric education!</p>
                        </div><!-- end title -->
                    </div><!--widget -->
                </div><!-- end col -->

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeIn " data-wow-duration="1s" data-wow-delay="0.4s">
                    <div class="widget clearfix">
                        <img src="images/payscale.png" alt="" class="img-responsive">
                        <div class="widget-title">
                            <h3 class="edu-green">Choose your own pay scale.</h3>
                            <hr>
                            <p>Charge what you think you are worth.We provide you with a unique "blank-canvas" style platform for sharing unique skills that returns a fair value.
                            </p>
                        </div><!-- end title -->
                    </div><!--widget -->
                </div><!-- end col -->

            </div>
            <hr>
            <div class="row service-list text-center">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                </div><!-- end col -->

                <div class="col-lg-4 edu-link-btn col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
                    <a id="btnJoin" class="btn btn-lg btn-edushala" href="/signup" role="button">Join Us</a>
                </div><!-- end col -->

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                </div><!-- end col -->
            </div>
            <hr class="invis">

        </div><!-- end container -->
    </div><!-- end section -->



<footer id="footer">
    <% include ../common/footer %>
</footer>

</body>
</html>