
<html>
<head>
    <% include ../common/head %>
    <!--additional JS and css-->
</head>
<body>
<header id="header" class="header full-width transparent fixed header-small clearfix">
    <% include ../common/header %>
</header>

<section id="content_body">
    <div class="page-title section lb">
        <div class="container">
            <div class="clearfix">
                <div class="title-area pull-left">
                    <h2>Edushala Blog <small>Welcome to edushala blog page.</small></h2>
                </div><!-- /.pull-right -->
                <div class="pull-right hidden-xs">
                    <div class="bread">
                        <ol class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li><a href="/blog">Blog</a></li>
                            <li class="active">Blog Single</li>
                        </ol>
                    </div><!-- end bread -->
                </div><!-- /.pull-right -->
            </div><!-- end clearfix -->
        </div>
    </div><!-- end page-title -->

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="content col-md-9 col-sm-12">
                    <div class="post-media">
                        <img src="images/course.jpg" alt="" class="img-responsive">
                    </div><!-- end media -->

                    <div class="post-padding">
                        <div class="blog-big-title clearfix">
                            <h3>Welcome to the EduPress Blog.</h3>
                        </div>

                        <div class="blog-single-meta clearfix">
                            <ul class="list-inline">
                                <li> <a href="/" class="readmore">Edushala</a></li>
                                <li><i class="fa fa-clock-o"></i> 21 Jan 2016</li>
                            </ul>
                        </div><!-- end meta -->

                        <p>Morbi congue leo et est sodales consequat a quis est. Nunc aliquam ut massa et accumsan. Donec cursus pretium porta. Maecenas vehicula pellentesque eros, non consectetur massa finibus quis. Ut ut rhoncus purus. Donec varius ultricies dapibus. Aliquam facilisis lacus purus, sit amet maximus lectus auctor et. Nam vehicula eget leo sed gravida.</p>

                        <p><img src="images/education.png" alt="" class="alignleft">In dignissim feugiat gravida. <em>Proin feugiat quam sed gravida fringilla.</em> Proin quis mauris ut magna fringilla vulputate quis non ante. Integer bibendum velit dui. Sed consequat nisi id convallis eleifend. Proin rhoncus dapibus vulputate. Phasellus eget fringilla justo. Aliquam erat volutpat. <a href="#">Praesent lorem nisi</a> vehicula fringilla rutrum facilisis, tempus sed ipsum. Mauris commodo mattis ante, at consequat lectus blandit nec. Nulla facilisi. Phasellus aliquet est ac faucibus iaculis. <strong>Sed non lorem in quam placerat</strong> facilisis nec eu quam. Etiam at tincidunt felis, et posuere eros. Nulla dictum id enim vitae fermentum. In dignissim feugiat gravida. Proin feugiat quam sed gravida fringilla. Proin quis mauris ut magna fringilla vulputate quis non ante. Integer bibendum velit dui. Sed consequat nisi id convallis eleifend. Proin rhoncus dapibus vulputate. Phasellus eget fringilla justo. Aliquam erat volutpat. Praesent lorem nisi vehicula fringilla rutrum facilisis, tempus sed ipsum. Mauris commodo mattis ante, at consequat lectus blandit nec. Nulla facilisi. Phasellus aliquet est ac faucibus iaculis. Sed non lorem in quam placerat facilisis nec eu quam. Etiam at tincidunt felis, et posuere eros. Nulla dictum id enim vitae fermentum. In dignissim feugiat gravida. Proin feugiat quam sed gravida fringilla. Proin quis mauris ut magna fringilla vulputate quis non ante. Integer bibendum velit dui. Sed consequat nisi id convallis eleifend. Proin rhoncus dapibus vulputate. Phasellus eget fringilla justo. Aliquam erat volutpat. Praesent lorem nisi vehicula fringilla rutrum facilisis, tempus sed ipsum. Mauris commodo mattis ante, at consequat lectus blandit nec. Nulla facilisi. Phasellus aliquet est ac faucibus iaculis. Sed non lorem in quam placerat facilisis nec eu quam. Etiam at tincidunt felis, et posuere eros. Nulla dictum id enim vitae fermentum. </p>

                        <p>In dignissim feugiat gravida. Proin feugiat quam sed gravida fringilla. Proin quis mauris ut magna fringilla vulputate quis non ante. Integer bibendum velit dui. Sed consequat nisi id convallis eleifend. Proin rhoncus dapibus vulputate. Phasellus eget fringilla justo. Aliquam erat volutpat. Praesent lorem nisi vehicula fringilla rutrum facilisis, tempus sed ipsum. Mauris commodo mattis ante, at consequat lectus blandit nec. Nulla facilisi. Phasellus aliquet est ac faucibus iaculis. Sed non lorem in quam placerat facilisis nec eu quam. Etiam at tincidunt felis, et posuere eros. Nulla dictum id enim vitae fermentum. </p>

                        <hr>

                        <p> In dignissim feugiat gravida. Proin quis mauris ut magna fringilla vulputate quis non ante. Integer bibendum velit dui. Sed consequat nisi id convallis eleifend. Proin rhoncus dapibus vulputate. Phasellus eget fringilla justo. Aliquam erat volutpat. Praesent lorem nisi, vehicula fringilla rutrum facilisis, tempus sed ipsum. Mauris commodo mattis ante, at consequat lectus blandit nec. Nulla facilisi. Phasellus  Sed non lorem in quam placerat facilisis nec eu quam. Etiam at tincidunt felis,. Nulla dictum id enim vitae </p>

                        <hr>

                    </div><!-- end post-padding -->

                    <hr class="invis">

                    <div class="post-padding">
                        <div class="content-widget clearfix">
                            <div class="widget-title">
                                <h3>5 Comments</h3>
                                <hr>
                            </div>
                            <!-- end about -->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="comments">
                                        <div class="panel panel-info">
                                            <div class="panel-body">
                                                <ul class="media-list">
                                                    <li class="media">
                                                        <div class="comment">
                                                            <div class="media-body">
                                                                <strong class="text-success">Jane Doe</strong>
                                                                <span class="text-muted">
                                                                                                <small class="text-muted">6 days ago</small></span>
                                                                <p>
                                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, <a href="#">#some link </a>.
                                                                </p>
                                                                <a href="#" class="btn btn-edushala btn-sm">Reply</a>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                        <ul class="media-list">
                                                            <li class="media">
                                                                <div class="comment">
                                                                    <div class="media-body">
                                                                        <strong class="text-success">MrAwesome</strong>
                                                                        <span class="text-muted">
                                                                                                        <small class="text-muted">2 days ago</small></span>
                                                                        <p>
                                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet.
                                                                        </p>
                                                                        <a href="#" class="btn btn-edushala btn-sm">Reply</a>
                                                                    </div>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="media">
                                                        <div class="comment">
                                                            <div class="media-body">
                                                                <strong class="text-success">Jana Cova</strong>
                                                                <span class="text-muted">
                                                                                                <small class="text-muted">12 days ago</small></span>
                                                                <p>
                                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet.
                                                                </p>
                                                                <a href="#" class="btn btn-edushala btn-sm">Reply</a>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end postpager -->

                        <div class="content-widget clearfix">
                            <div class="widget-title">
                                <h3>Comment Form</h3>
                                <hr>
                            </div>
                            <!-- end about -->

                            <div class="contact_form defaultform comment-form">
                                <form class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <label>Name <span class="required">*</span></label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <label>Email <span class="required">*</span></label>
                                        <input type="email" class="form-control" placeholder="">
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <label>Comment <span class="required">*</span></label>
                                        <textarea class="form-control" placeholder=""></textarea>
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <input type="submit" value="Send Comment" class="btn btn-edushala" />
                                    </div>
                                </form>
                            </div>
                            <!-- end commentform -->
                        </div>
                        <!-- end postpager -->
                    </div><!-- end post-padding -->
                </div><!-- end content -->

                <div class="sidebar col-md-3 col-sm-12">
                    <div class="widget clearfix">
                        <a href="#"><img src="/images/course2.jpg" alt="" class="img-responsive"></a>
                    </div>

                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Popular Articles</h3>
                            <hr>
                        </div><!-- end widget-title -->

                        <div class="related-posts">
                            <div class="entry">
                                <p><a href="blog-single.html" title=""> What’s in My Desktop, 2016 edition.</a></p>
                                <small>21 March 2016</small>
                            </div><!-- end entry -->
                            <div class="entry">
                                <p><a href="blog-single.html" title="">Getting a Job After Coding World Event.</a></p>
                                <small>20 March 2016</small>
                            </div><!-- end entry -->
                            <div class="entry">
                                <p><a href="blog-single.html" title="">Arthur C. Clarke on Distributed Work.</a></p>
                                <small>18 February 2016</small>
                            </div><!-- end entry -->
                            <div class="entry">
                                <p><a href="blog-single.html" title="">Teach when you are filled with wonder.</a></p>
                                <small>10 February 2016</small>
                            </div><!-- end entry -->
                        </div><!-- end related -->
                    </div><!-- end widget -->

                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

</section>

<footer id="footer">
    <% include ../common/footer %>
</footer>

</body>
</html>