<!Doctype HTML>
<html>
<head>
    <% include ../common/head %>
    <!--additional JS and css-->
</head>
<body>
	<header id="header">
	    <% include ../common/header %>
	</header>
	<section id="content_body">
		<div class="career-body ">
			<div class="container">
				<div class="error-404 wow zoomIn"  data-wow-duration="3s" data-wow-delay="0.6s">
					<div class="error-code m-b-10 m-t-20">404 <i class="fa fa-warning"></i></div>
					<h2 class="font-bold">Oops 500! That's embarrasing.</h2>

					<div class="error-desc">
						Sorry, something went wrong. <br/>
						Try refreshing the page or click the button below to go back to the Homepage.
						<div><br/>
							<!-- <a class=" login-detail-panel-button btn" href="http://vultus.de/"> -->
							<a href="/" class="btn btn-primary"><span class="glyphicon glyphicon-home"></span> Go back to Homepage</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer id="footer">
	    <% include ../common/footer %>
	</footer>
</body>
</html>