<footer class="copyrights">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="logo-footer"><!--<img id="logo-footer" src="/images/logo.png" alt="">-->
                    <p class="foot_description">Edushala is an online marketplace to help learners get access to today’s in-demand skill.
                        Our goal is to foster opportunities for creativity in the classroom and workplace.
                        We create blended courses to help learners to develop a lifelong love of learning and sharing.</p>
                </div>
                <ul class="list-unstyled list-inline ">
                    <li><a href="http://www.facebook.com/edushala" target="_blank"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a></li>
                    <li><a href="http://www.twitter.com/edushala" target="_blank"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a></li>
                    <li><a href="http://www.youtube.com/user/edushala" target="_blank"><i id="social-yo" class="fa fa-youtube-square  fa-3x social"></i></a></li>
                    <li><a href="http://www.instagram.com/edushala" target="_blank"><i id="social-in" class="fa fa-instagram  fa-3x social"></i></a>  </li>
                </ul>
                <ul class="check">
                    <li><i class="fa fa-map-marker"></i><a> Kupondole, Lalitpur</a></li>
                    <li><a href="tel:+977015528766" target="_blank"><i class="fa fa-phone"></i> (977) -  01 55 28 766</a></li>
                    <li><a href="mailto:team@edushala.com" target="_blank"><i class="fa fa-envelope-o"></i> team @ edushala.com</a></li>
                </ul>
                <!-- end check -->
            </div>
            <!-- end col -->
            <div class="col-md-3 col-sm-6 col-xs-12 sitemap-footer">
                        <ul class="check">
                            <li><a href="/portfolio" target="_blank">Portfolio</a></li>
                            <li><a href="/edushala-for-enterprise" target="_blank"> Edushala For Enterprise</a></li>
                            <li><a href="/blog" target="_blank">Blog</a></li>
                            <li><a href="/faq" target="_blank">FAQs</a></li>
                            <li><a href="/contact" target="_blank">Contact</a></li>
                            <!-- <li><a href="#">Press Site</a></li> -->
                            <!--<li><a href="#">Press</a></li>-->
                            <li><a href="/career" target="_blank">Career</a></li>
                            <li><a href="/press" target="_blank">Press Site</a></li>
                            <li><a href="/terms" target="_blank">Terms and Conditions</a></li>

                            <!-- <li><a href="/feedback">Feedback</a></li> -->

                        </ul>
                <!-- end check -->
            </div>
            <!-- end col -->

            <div class="col-md-3 col-sm-6 col-xs-12 subscribe-footer">
                <div class="newsletter">
                    <p>Get exclusive news about our special events, courses and more.</p>
                    <form action="//edushala.us3.list-manage.com/subscribe/post?u=af172ca633421fad063542da5&amp;id=12b291330c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
                        <div class="form-group">
                            <input type="text" name="FNAME" onkeyup="changeHandler(event)" class="required name form-control mce-FNAME" placeholder="Enter your name here..">
                        </div>
                        <div class="form-group">
                            <input type="email" name="EMAIL" onkeyup="changeHandler(event)" class="required email form-control mce-EMAIL" placeholder="Enter your email here..">
                            <input type="hidden" value="FOOTER" name="SOURCE" id="mce-SOURCE">
                        </div>
                        <button type="submit" disabled="true" id="btnSubscribe" class="btn btn-edushala">Subscribe</button>
                        <p id="response"></p>
                    </form>

                    <p class="agree-footer">By sharing your email, you agree to our <a href="/terms" target="_blank">Privacy Policy</a> and <a href="/terms" target="_blank">Terms of Service</a></p>
                </div>
            </div>
            <!-- end col -->
        </div>

        <!-- end row -->

        <hr>

        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="copylinks">
                    <p>COPYRIGHTS &copy 2016 <a href="http://www.rumsan.com/" target="_blank">RUMSAN TECHNOLOGIES</a> ALL RIGHTS RESERVED.</p>
                <p>Proudly made in Nepal<span><img src="/images/nepal.png" width="20" height="20"/></span></p>
                </div>
                <!-- end links -->
            </div>
            <!-- end col -->

            <div class="col-md-6 col-sm-12">
                <div class="scroll-top-wrapper "><!--js part is in client-carousel.js-->
                    <span class="scroll-top-inner">
                        <i class="fa fa-2x fa-arrow-circle-up"></i>
                    </span>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</footer>
<!-- end copyrights -->

<script>

  function validateEmail(email) {
    var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
  }

  function changeHandler(e) {
    var form = $(e.target).parents('form').eq(0)
    var submitBtn = form.find('button')
    submitBtn.prop('disabled', true)
    if(form.find('.mce-FNAME').val().length && form.find('.mce-EMAIL').val().length && validateEmail(form.find('.mce-EMAIL').val())) {
      submitBtn.prop('disabled', false)
    }
  }
</script>
