    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <a class="navbar-brand with-text" title="PSD to HTML" href="index.html">EduPress.</a>
        <ul class="sidebar-nav">
            <li class="active"><a href="member-profile.html">My Profile <span><i class="fa fa-user"></i></span></a></li>
            <li><a href="#">My Courses <span><i class="fa fa-briefcase"></i></span></a></li>
            <li><a href="#">My Achievements <span><i class="fa fa-trophy"></i></span></a></li>
            <li><a href="#">My Messages <span><i class="fa fa-comment-o"></i></span></a></li>
            <li><a href="#">My Friends <span><i class="fa fa-share-alt"></i></span></a></li>
            <li><a href="#">Edit Profile <span><i class="fa fa-edit"></i></span></a></li>
            <li><a href="#">Login Account <span><i class="fa fa-key"></i></span></a></li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->